@charset "utf-8";
/* CSS Document */

.module_box .photo_list{ padding:3px;}
.module_box .photo{ float:left; margin:4px; cursor:pointer;}
.module_box .photo .photo_img{ padding:3px; height:68px; width:68px; border:1px solid #dedede;}
.module_box .photo:hover .photo_img{ border:1px solid #ff6600;}
.module_box .photo .photo_img img{ max-width:68px; max-height:68px;}
.module_box .photo .photo_uploader{ padding-top:5px; text-align:center;}
.module_box .photo:hover .photo_uploader a{ color:#ff6600;}

.relish_tj_list .show_detail{background:url(images/show_box_bg.png);}