@charset "utf-8";
/* CSS Document */
.header .store_nav{background:url(images/store_nav_bg.png);}
.header .store_nav .store_name{ font-size:20px; font-family:"黑体";  color:#fff; position:absolute; left:10px; top:9px;}
.header .store_nav .store_name a{ color:#fff !important; text-decoration:none !important;}
.header .store_nav .store_name span{ font-size:12px; font-weight:normal; font-family:"宋体";}
.header .store_nav .store_nav_list{ position:absolute; top:6px; left:222px;}
.header .store_nav .store_click_times{ float:right; padding:10px;}

/* 店铺导航 */
.header .store_nav .store_nav_list a span{ background-image:none !important;}

.header .store_nav .store_nav_list a.selected{ color:#ff6600; background-image:url(images/a_nav_bg.png);}
.header .store_nav .store_nav_list a.selected span.right{ display:none;}
.header .store_nav .store_nav_list a.selected span.left{ display:none;}

.header .store_nav .store_nav_list a:hover{background-image:url(images/a_hover_bg.png);}

.header .store_nav .store_nav_list a.selected span.pointer{ display:none;}

.main .main_left{ width:657px; float:left; overflow:hidden;}
.main .main_right{ width:283px; float:right; padding-left:10px;  overflow:hidden;}

.module_box .visitor_list{ padding:5px;}
.module_box .visitor{ float:left; margin:5px 4px;}

.module_title{ background:url(images/module_title_bg.png);}
.module_title .title_left{ background:url(images/module_title_light_bg.png);}
.module_title .title_txt{background:url(images/module_title_light_bg.png) right;}