@charset "utf-8";
/* CSS Document */
.main_left{ padding-right:13px;}
.main_left .module .rank_list li{ height:13px; line-height:13px; padding:6px 5px; border-top:1px dashed #ddd;}
.main_left .module .rank_list li.first{ border-top:none;}

.new_store_list{ padding:8px 7px;}
.new_store_list .store_info{ float:left; width:88px; margin:7px;}
.new_store_list .store_info .store_img{ overflow:hidden;}
.new_store_list .store_info .store_img img{ max-width:80px; max-height:80px;  }
.new_store_list .store_info .store_name{ line-height:25px; height:25px; text-align:center; padding-top:2px;}

.outer_l_t_c,.outer_l_b_c,.outer_r_t_c,.outer_r_b_c{ display:none;}
.inner_l_t_c,.inner_l_b_c,.inner_r_t_c,.inner_r_b_c{ display:none;}

.member_list{ padding:13px 2px; padding-bottom:3px;}
.member_list .member_info{ float:left; width:74px; margin:5px; margin-top:0px; }
.member_list .member_info .member_img{ width:68px; height:68px; border:1px solid #ddd; padding:2px; background:#fff; overflow:hidden;}
.member_list .member_info .member_img img{ max-width:68px; max-height:68px;  }
.member_list .member_info .member_name{ text-align:center; padding-top:4px; height:20px; width:74px; overflow:hidden;}

.main_right{ float:right;}