@charset "utf-8";
/* CSS Document */

.nav_bar .nav_list a{ padding:0 3px;}
.nav_bar .nav_list a:hover { background-image:url(images/a_hover_bg.png); }
.nav_bar .nav_list a span.left{ display:none;}
.nav_bar .nav_list a span.right{ display:none;}
.nav_bar .nav_list a span{ background-image:none !important;}

.nav_bar .nav_list a span.pointer{ display:none;}
.nav_bar .nav_list a.selected{ background-image:url(images/a_nav_bg.png);}

.nav_bar .search_form .search_btn{background:url(images/button_yellow.png); }
