@charset "utf-8";
/* CSS Document */
.star_70_33{ background-image:url(../images/star_70x33.png);}
.star_70_33 span{ background-image:url(../images/star_70x33.png);}

.star_score a{ background-image:url(../images/star_70x33.png) !important;}