@charset "utf-8";
/* CSS Document */
.header{ height:74px; width:1000px; margin:0 auto; position:relative;}
.header .logo{ width:145px; height:52px; padding:12px 0 0 12px;}
.header .user_h_n_list{ height:15px;line-height:15px; width:300px; position:absolute; top:10px; right:10px; text-align:right;}
.header .user_h_n_list{ color:#999; font-size:10px;}
.header .user_h_n_list a{ color:#666; font-size:12px;}

.footer{ width:1000px; margin:10px auto; text-align:center;padding-top:15px; margin-top:40px; padding-bottom:30px; clear:both;}
.footer p{ padding-bottom:8px;}
.footer{ border-top:2px solid #ccc;}

.nav_bar{ width:1000px; height:38px; margin:0 auto; position:relative;}
.nav_bar .nav_list{ height:31px; width:500px; position:absolute; right:0px; top:7px;}
.nav_bar a{ display:block; height:31px; line-height:31px; padding:0 15px; float:right; margin:0 15px; }
.nav_bar a:hover{ text-decoration:none;}
.nav_bar a.selected{ padding-right:13px; position:relative;}
.nav_bar a.selected span{ height:31px; position:absolute; right:-2px; width:10px; top:0px;}
.nav_bar{ background:url(../image/nav_bar_bg.png);  }
.nav_bar a{ color:#ffdbc0;}
.nav_bar a.selected{ background-image:url(../../images/icon_btn/member_button.png); background-position:0px -62px; background-repeat:no-repeat; color:#444; font-weight:bold;}
.nav_bar a.selected span{ background-image:url(../../images/icon_btn/member_button.png); background-position:-66px -31px;}


.main{ width:914px; margin:0 auto; margin-top:30px; padding:15px 20px; min-height:450px;}
.main .op_name{ padding-bottom:10px;}
.main .op_title{ padding:0 2px;  margin:0 5px; height:28px;}
.main .op_title img{ vertical-align:top;}
.main .op_title .step_btn{ margin-right:3px; margin-top:11px;}
.main .op_title .fr{ padding-top:13px;}
.div_table_0{ padding:20px 40px;}
.div_table_0 .table_row{  padding:7px; clear:both;zoom:1; border:1px solid #fff;}
.div_table_0 .table_row .row_left{ text-align:right; width:60px; float:left; height:25px; line-height:25px;}
.div_table_0 .table_row .row_right{ float:left; width:500px; padding-left:10px;}
.div_table_0 .table_row .row_right p{ padding-top:5px;}
.step_btn_list{ float:left;}
#actionDoingTip{ min-height:50px; min-width:200px; line-height:50px;  position:absolute; text-align:center; display:none; padding:0px 20px;}
.overlay{ top:0px; left:0px; display:none; position:absolute;background:#e2af8a; filter:alpha(opacity=20);-moz-opacity:0.2; opacity:0.2;}

.nav_bar{ background:url(../image/nav_bar_bg.png);  }
.nav_bar a{ color:#fff;font-weight:bold;}
.nav_bar a.selected{ background-image:url(../../images/icon_btn/member_button.png); background-position:0px -62px; background-repeat:no-repeat; color:#444; font-weight:bold;}
.nav_bar a.selected span{ background-image:url(../../images/icon_btn/member_button.png); background-position:-66px -31px;}
.main{ border:1px solid #d0dce5;}
.main .op_title{ border-bottom:2px solid #ffa456; color:#1182d4;}
.main .op_title a{ color:#fc7b1f;}
.main .op_title .step{ background:#999999; color:#fff;}
.div_table_0 .table_row .field_tip{ color:#9d9d9d; background:url(../../images/icon_btn/tip.png) no-repeat 5px center; padding:0px 25px; display:inline-block; height:22px; line-height:22px; margin-left:5px; border:1px solid #fff; min-width:200px;}
.div_table_0 .row_selected .field_tip{border:1px solid #8cc6ff; background-color:#e5f2ff; color:#333333;}
.div_table_0 .table_row .field_tip_error{ background:url(../../images/icon_btn/failed.png) no-repeat 5px center    !important; background-color:#fef1f0; border:1px solid #ffb3b6;}
.div_table_0 .table_row .field_tip_right{ background:url(../../images/icon_btn/succeed.png) no-repeat 5px center    !important;}
.div_table_0 .table_row .field_tip_hide{ display:none;}
.div_table_0 .row_selected{ border:1px solid #d4e8fc; background:#f4fcfe;}
.footer{ border-top:none;}
#actionDoingTip{ background:#fff; border:2px solid #dd6713; color:#0066cc; }
#actionDoingTip a{ color:#fc7b1f;}

.login_panel{}
.login_panel .login_panel_title{ color:#111111; font-weight:bold; font-size:14px; border-bottom:1px solid #e1e1e1; padding-bottom:3px; margin-bottom:5px;}
.login_panel .login_result_show{ background:#fcf2e6; padding:5px; border:1px solid #e3d5c4; display:none;}

.div_table_1{ padding:5px;}
.div_table_1 .table_row{  padding:5px; clear:both;zoom:1; border:1px solid #fff;}
.div_table_1 .table_row .row_left{ text-align:right; width:60px; float:left; height:25px; line-height:25px;}
.div_table_1 .table_row .row_right{ float:left; width:200px; padding-left:10px;}
.div_table_1 .table_row .row_right p{ padding-top:5px;}