@charset "utf-8";
/* CSS Document */
.regedit_icon,.login_icon,.icon_findpwd{ background-image:url(../../images/icon_btn/member_center.png); background-repeat:no-repeat;}
.regedit_icon{ width:78px; height:22px;}
.icon_findpwd{ width:78px; height:22px; background-position:0 -46px;}
.login_icon{ background-position:0 -22px; width:78px; height:22px;}
.member_btn_0,.member_btn_0 span,.step_btn_active,.step_btn{ background-image:url(../../images/icon_btn/member_button.png); background-repeat:no-repeat;}
.member_btn_0{ background-position:-1px -96px; padding-left:28px; padding-right:5px; position:relative; height:24px; line-height:24px; display:inline-block; color:#b85000; text-decoration:none !important;}
.member_btn_0 span{ width:5px; background-position:-415px -96px; position:absolute; right:-5px; height:24px; display:block; top:0px;}
.step_btn{ width:89px; background-position:-89px -121px; text-align:center; height:17px; line-height:17px; display:inline-block; color:#fff; font-weight:bold;}
.step_btn_active{ background-position:-178px -121px;}