@charset "utf-8";
.main{ width:914px; margin:0 auto; margin-top:30px; padding:15px 20px; min-height:450px;}
.main .op_name{ padding-bottom:10px;}
.main .op_title{ padding:0 2px;  margin:0 5px; height:28px;}
.main .op_title img{ vertical-align:top;}
.main .op_title .step_btn{ margin-right:3px; margin-top:11px;}
.main .op_title .fr{ padding-top:13px;}
