<link href="/static/member/css/member-struts.css" rel="stylesheet" type="text/css" />
<link href="/static/manage/css/manage_style.css" rel="stylesheet" type="text/css" />
<link href="/static/member/css/member-theme.css" rel="stylesheet" type="text/css" />
<link href="/static/member/css/member-icon.css" rel="stylesheet" type="text/css" />
<link href="/static/member/css/regedit.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="/static/js/common_util.js"></script>
<script language="javascript" src="/static/member/js/member_common.js"></script>