<div class="header">
	<div class="logo"><a href="/"><img src="/static/images/logo.png" /></a></div>
    <div class="user_h_n_list"><a href="/">首页</a></div>
</div>
<div class="nav_bar">
	<div class="nav_list">
    	<a href="/member/findpwd.html" <#if memberNav = "找回密码">class="selected"</#if>>找回密码<span></span></a>
    	<a href="/member/regedit.html" <#if memberNav = "会员注册">class="selected"</#if>>会员注册<span></span></a>
        <a href="/member/login.html" <#if memberNav = "会员登录">class="selected"</#if>>会员登录<span></span></a>
  </div>
</div>