<link href="/static/css/common_style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/html_ui.css" rel="stylesheet" type="text/css" />
<link href="/static/css/icon.css" rel="stylesheet" type="text/css" />

<script language="javascript" src="/static/js/common_util.js"></script>
<script language="javascript" src="/static/js/jquery.js"></script>
<script language="javascript" src="/static/js/jquery-ui.js"></script>
<script language="javascript" src="/static/js/html_ui.js"></script>
<script language="javascript" src="/static/js/my-jquery-plugin.js"></script>
<script language="javascript" src="/static/member/js/application.js"></script>
<script language="javascript">
	jQuery.ajaxSettings.traditional = true;
	$.ajaxSetup({cache:false});
</script>

<!--[if lte IE 6]>
<link href="/static/ie6/css/html_ui.css" type="text/css" rel="stylesheet"/>
<link href="/static/ie6/css/icon.css" type="text/css" rel="stylesheet"/>
<script language="javascript" src="/static/ie6/js/ie6.js"></script>
<![endif]-->