<div class="footer">
	<p><a href="http://me.ctospace.com/about/aboutus.html" target="_blank">关于我们</a> <a href="http://me.ctospace.com/about/contact.html" target="_blank">联系我们</a> <a href="http://me.ctospace.com/about/flsm.html" target="_blank">法律声明</a> <a href="http://me.ctospace.com/about/fwtk.html" target="_blank">服务条款</a> </p>
    <p>美食美客版权所有 2010 本站所有内容，未经许可，均不得转载</p>
</div>