<#macro splitPage page pageSize totalCount url >

	<#local totalPage = ((totalCount+pageSize-1)/pageSize)?int >
    <#if totalPage lte 1><#return></#if>
    <#local endPage = page+4>
    <#if endPage gt totalPage>
    	<#local endPage = totalPage>
    </#if>
    <#local startPage = endPage-9?int>
    <#if startPage lt 1>
    	<#local startPage = 1>
        <#local endPage = startPage+9>
        <#if endPage gt totalPage>
           <#local endPage = totalPage>
        </#if>
    </#if>
    <div class="split_page_list clearfix">
    		<#if page gt 1>
            	<a href="${url}page=${page-1}">上一页</a>
            <#else>
            	<a href="#" class="disable">上一页</a> 
            </#if>
       	    <#if startPage gt 1>            	
                <a href="${url}page=1">1</a>
                ...
            </#if> 
            <#list startPage..endPage as x>
    			<a href="${url}page=${x}" <#if x==page> class="active"</#if>>${x}</a>
    		</#list> 
            <#if endPage lt totalPage>
            	...
            	<a href="${url}page=${totalPage}">${totalPage}</a>             
            </#if>       
            <#if page lt totalPage>
            	
            	<a href="${url}page=${page+1}">下一页</a>   
             <#else>
            	<a href="#" class="disable">下一页</a>
            </#if>    
    </div>	
</#macro>