@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px;}
.error{ color:#f00;}
textarea{ vertical-align:top;}

select{ vertical-align:middle;}
img{ border:0px; vertical-align:middle;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

.tip_box{ background:#fcf2e6; padding:10px; border:1px solid #e3d5c4;}
input{ vertical-align:middle;}
ul{ list-style:none;}
.fr{ float:right;}

.middle_img{position:relative;	text-align:center; overflow:hidden;display:table; }
.middle_img a{position:static;	+position:absolute;	top:50%; vertical-align:middle; display:table-cell;vertical-align:middle;}
.middle_img a img{position:static;	+position:relative;	top:-50%;left:-50%;	vertical-align:middle;}

.split_v_line{ font-size:10px; color:#999; padding:0 5px;}