@charset "utf-8";
/* CSS Document */

.html_ui .ui_btn{ background-image:url(../images/icon_btn/btns_0.png); background-repeat:no-repeat;  background-position:-100px 0; width:60px; height:22px; line-height:22px; text-align:center; border:0px; cursor:pointer;}


.html_ui_panel{  position:absolute; top:100px; left:600px; z-index:100; display:none; overflow:hidden;}
.html_ui_panel .panel_bg{ background:#fff; filter:alpha(opacity=40);-moz-opacity:0.4; opacity:0.4; width:100%; height:100%; top:5px; left:5px; position:absolute;}
.html_ui_panel .panel_main{ background:#fff; border:2px solid #dd6713; width:300px; height:400px; position:relative; padding:10px;}
.html_ui_panel .panel_close{ position:absolute; right:5px; top:5px; width:16px; height:16px; background:url(../images/icon_btn/failed.png); cursor:pointer;}
.html_ui_panel .panel_handle{ width:100%; height:22px; cursor:move; position:absolute; top:0px; left:0px;}
.html_ui_panel .panel_handle:hover{ background:#dd6713; filter:alpha(opacity=30);-moz-opacity:0.3; opacity:0.3;}
.html_ui_overlay{ top:0px; left:0px; display:none; position:absolute; background:#000; filter:alpha(opacity=20);-moz-opacity:0.2; opacity:0.2;}

/* 浮动层提示 */
.overlay_tip{ min-width:200px; line-height:18px;  position:absolute;display:none; padding:10px; background:#fff; border:2px solid #dd6713; color:#0066cc; z-index:100; max-width:400px;}
.overlay_tip  a{ color:#fc7b1f;}
.overlay_tip .close{ width:14px; height:14px; text-align:center; line-height:14px; font-size:14px; font-weight:bold; color:#dd6713; position:absolute; top:-1px; right:-1px;  display:block; cursor:pointer; background:url(../images/close_orange.png) no-repeat center;}
._overlay_tip .close:hover{ color:#fff; background:#dd6713;}
.overlay_tip .overlay_tip_body{ position:relative;}

/* 确认框 */
.html_ui_confirm{ min-width:200px; line-height:18px;  position:absolute;display:none; padding:10px; padding-bottom:0px; background:#fff; border:2px solid #dd6713; color:#0066cc; z-index:100; max-width:350px;}
.html_ui_confirm  a{ color:#fc7b1f;}
.html_ui_confirm .close{ width:14px; height:14px; text-align:center; line-height:14px; font-size:14px; font-weight:bold; color:#dd6713; position:absolute; top:-1px; right:-1px;  display:block; cursor:pointer; background:url(../images/close_orange.png) no-repeat center;}
._html_ui_confirm .close:hover{ color:#fff; background:#dd6713;}
.html_ui_confirm .confirm_body{ position:relative; border-bottom:1px solid #ccc; padding-bottom:5px; margin-bottom:5px;}
.html_ui_confirm .confirm_btn_list{ text-align:right; padding-bottom:5px;}
.html_ui_confirm .confirm_btn_list input{ margin-left:5px; float:right;}

/* 日历 */
.calendar{ font-family:Lucida Grande, Lucida Sans, Arial, sans-serif; display:none;z-index:1000;}
.calendar a{color:#3f3f67; text-decoration:none !important;}
.calendar .calendar_top,.calendar .calendar_bottom,.calendar .date_show,.calendar .show_pre,.calendar .show_next,.calendar .day_list a{ background-image:url(../images/html_ui/calendar_bg.png);}
.calendar .menu_show{ background:url(../images/html_ui/calendar_bg_menu.png) no-repeat right 6px; padding-right:9px;}
.calendar{ position:absolute; top:100px; left:100px; width:192px; border:1px solid #a4b97f; background:#fff;}
.calendar .calendar_top{ width:194px; height:5px; position:relative; left:-1px; top:-3px; background-position:0 -90px;}
.calendar .calendar_bottom{ width:194px; height:5px; position:relative; left:-1px; bottom:-3px; background-position:0 -97px; clear:both;}
.calendar .date_show{ width:188px; height:26px; position:relative; left:2px; top:-5px; background-position:0 -15px;}
.calendar .show_pre{ width:12px; height:12px; background-position:0 -50px; display:block; position:absolute; top:7px; left:5px;}
.calendar .show_next{ width:12px; height:12px; background-position:0 -69px; top:7px; right:5px;display:block;position:absolute;}
.calendar .date_year{ display:inline-block;}
.calendar .date_show_on{ position:absolute; left:30px; top:5px; width:126px; text-align:center; color:#fff; font-weight:bold; font-family:Verdana, Geneva, sans-serif}
.calendar .date_show_on a{ color:#fff;}
.calendar .week_list{  padding:3px 0px 5px 0px; padding-left:2px;zoom:1;}
.calendar .week_list div{ width:25px;text-align:center; float:left; margin:1px; }
.calendar .day_list{ padding-left:2px;zoom:1;}
.calendar .day_list a{ display:block; float:left; width:23px; height:18px; border:1px solid #c5dbec;  margin:1px;  text-align:center; line-height:18px; font-size:0.9em; background-position:0px -107px;}
.calendar .day_list a:hover{ border-color:#a4b97f;}
.calendar .day_list a.active{ border-color:#79b7e7; background:#f5f8f9; color:#e17009;}
.calendar .month_list{
	position:absolute;
	top:5px;
	left:109px;
	background:#fff;
	border:1px solid #79b7e7;
	width:58px;
	height:132px;
	display:none;
}
.calendar .month_list a{ width:25px; height:18px; display:block; float:left; border:1px solid #c5dbec; margin:1px; text-align:center;}
.calendar .month_list a:hover,.calendar .year_list a:hover{ border-color:#a4b97f;}
.calendar .year_list{
	background:#fff;
	border:1px solid #79b7e7;
	width:176px;
	position:absolute;
	left: 7px;
	top: 5px;
	zoom:1;
	min-height:110px;
	display:none;
	padding:1px;
}
.calendar .year_list a{ width:40px; height:18px; display:block; float:left; border:1px solid #c5dbec; margin:1px; text-align:center;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}


.html_ui_alt_tip{ border:1px solid #dd6713; position:absolute; padding:5px; overflow:hidden;}
.html_ui_alt_tip_bg{ position:absolute; top:0px; left:0px; width:100%; height:100%; background:#fff; filter:alpha(opacity=80);-moz-opacity:0.8; opacity:0.8;}
.html_ui_alt_tip_show{ position:relative;}

.mouse_follow_tip{border:1px solid #dd6713; position:absolute; padding:5px;}
.mouse_follow_tip_bg{ position:absolute; top:0px; left:0px; width:100%; height:100%; background:#fff; filter:alpha(opacity=80);-moz-opacity:0.8; opacity:0.8;}
.mouse_follow_tip_show{ position:relative;}