@charset "utf-8";
/* CSS Document */
.member_btn_0,.member_btn_0 span{ background-image:url(../images/icon_btn/member_button.png); background-repeat:no-repeat;}
.member_btn_0{ background-position:-1px -96px; padding-left:28px; padding-right:5px; position:relative; height:24px; line-height:24px; display:inline-block; color:#b85000; text-decoration:none !important;}
.member_btn_0 span{ width:5px; background-position:-415px -96px; position:absolute; right:-5px; height:24px; display:block; top:0px;}

.btn_style_2,.btn_style_4{ background-image:url(../images/icon_btn/btns_0.png); background-repeat:no-repeat;}
.btn_style_2{ background-position:-100px 0; width:60px; height:22px; line-height:22px; text-align:center; border:0px; cursor:pointer;}
.btn_style_4{ background-position:-100px -30px; width:62px; height:24px; line-height:24px; text-align:center; border:0px; cursor:pointer;}

.menu_down{ background-image:url(../images/icon_btn/menu_down.png); background-repeat:no-repeat; background-position: right center; display:inline-block; padding-right:9px;}

.icon_mail_blue,.icon_mail_yellow{ background-image:url(../images/icon_btn/xiao_icon.png); background-repeat:no-repeat;}
.icon_mail_blue{ width:15px !important; height:12px !important; background-position:-145px -212px; display:inline-block;}
.icon_mail_yellow{ width:15px !important; height:12px !important; background-position:-166px -212px; display:inline-block;}

.icon_guangbo{ background:url(../images/icon_btn/guangbo.gif); background-repeat:no-repeat; height:13px; width:13px; display:inline-block;}

.star_highlight,.star_gray{ background-image:url(../images/star.gif); width:14px; height:12px; display:inline-block;}
.star_highlight{ background-position:0px -12px;}
.star_gray:hover{ background-position:0px -12px;}

.icon_good{ background:url(../images/icon_btn/ding.png) no-repeat; display:inline-block; width:10px; height:14px;}

.icon_checkbox{ background:url(../images/icon_btn/checkbox.png) no-repeat; padding-left:13px; height:15px; display:inline-block; line-height:15px;}

.icon_right_o{ background-image:url(../images/icon_btn/global_icon.gif); background-repeat:no-repeat;}

.icon_right_o{ height:14px; padding-right:10px; display:inline-block; background-position:right -410px;}

.star_100_45{ background-image:url(../images/star_100x47.png); background-repeat:no-repeat; display:inline-block; width:100px; height:18px; background-position:0 -28px; text-align:left !important;}
.star_100_45 span{ background-image:url(../images/star_100x47.png); background-repeat:no-repeat; display:block; height:18px;}

.star_70_33{ background-image:url(../images/star_70x33.png); background-repeat:no-repeat; display:inline-block; width:70px; height:12px; background-position:0 -21px; vertical-align:middle; text-align:left !important;}
.star_70_33 span{ background-image:url(../images/star_70x33.png); background-repeat:no-repeat; display:block; height:12px;}
.star_70_33 a{ display:inline-block; height:14px; width:14px; }

.star_score{ width:70px; height:12px; display:block;}
.star_score a{ background-image:url(../images/star_70x33.png); background-position:0 -21px; width:12px; height:12px; display:block; padding-right:2px; float:left;}
.star_score a.selected{ background-position:0 0;}

.icon_pj_hh,.icon_pj_hx,.icon_pj_yb{ background-image:url(../images/pingjia.png); padding-left:52px; height:38px; display:inline-block; line-height:38px; width:48px; background-repeat:no-repeat; color:#fa8f21; text-decoration:none !important;}
.icon_pj_hx{ background-position:-110px 0px ; color:#6bcc5e;}
.icon_pj_yb{ background-position:-217px 0px ; color:#ccc;}

/* 标志 背景为橙色 */
.mark{ background:#fc6c06; font-size:12px; color:#fff; line-height:12px !important; height:12px !important; padding:1px !important; text-align:center; min-width:12px; display:inline-block; vertical-align:middle;}
a.mark{ color:#fff !important; text-decoration:none !important;}
a.mark_gray{ color:#fff !important; text-decoration:none !important;}
.mark_gray{ background:#bbb; font-size:12px; color:#fff; line-height:12px; height:12px; padding:1px !important; text-align:center; min-width:12px; display:inline-block; vertical-align:middle;}

.icon_good{ background:url(../images/icon_btn/ding.png) no-repeat; display:inline-block; width:10px; height:14px; line-height:14px !important;}
.btn_orange{ background:url(../images/icon_btn/btn_orange.png); width:83px; height:30px; border:none; line-height:30px; color:#fff; font-weight:bold; cursor:pointer;}

.icon_fav{ background:url(../images/star_16x16.png) no-repeat left center; display:inline-block; padding-left:17px; height:16px; line-height:18px;}

.icon_person_blue{ background:url(../images/person_blue.png) no-repeat left center; padding-left:17px; display:inline-block; height:16px; line-height:16px;}

.icon_up{ background:url(../images/up.png) no-repeat left center; padding-left:13px; display:inline-block; height:16px; line-height:18px;}

.coupon_flag{ background:url(../images/youhuiquan.png); height:110px; width:110px; display:inline-block;}

.icon_printer{ background:url(../images/printer.png) no-repeat left center; height:16px; padding-left:19px; display:inline-block; vertical-align:middle; line-height:16px !important;}

.n_1,.n_2,.n_3,.n_4,.n_5,.n_6,.n_7,.n_8,.n_9,.n_10{ background-image:url(../images/number_1-10.png); background-repeat:no-repeat; width:16px !important; height:13px !important; display:inline-block; vertical-align:middle; line-height:16px !important; margin-right:5px;}
.n_1{}
.n_2{ background-position:0 -13px;}
.n_3{ background-position:0 -26px;}
.n_4{ background-position:0 -39px;}
.n_5{ background-position:0 -52px;}
.n_6{ background-position:0 -65px;}
.n_7{ background-position:0 -78px;}
.n_8{ background-position:0 -91px;}
.n_9{ background-position:0 -104px;}
.n_10{ background-position:0 -117px;}

.n_1_1,.n_1_2,.n_1_3,.n_1_4,.n_1_5,.n_1_6,.n_1_7,.n_1_8,.n_1_9,.n_1_10{ background-image:url(../images/number_1-10_1.png); background-repeat:no-repeat; width:14px !important; height:10px !important; display:inline-block; vertical-align:middle; line-height:10px !important; margin-right:5px;}
.n_1_1{}
.n_1_2{ background-position:0 -10px;}
.n_1_3{ background-position:0 -20px;}
.n_1_4{ background-position:0 -30px;}
.n_1_5{ background-position:0 -40px;}
.n_1_6{ background-position:0 -50px;}
.n_1_7{ background-position:0 -60px;}
.n_1_8{ background-position:0 -70px;}
.n_1_9{ background-position:0 -80px;}
.n_1_10{ background-position:0 -90px;}

.icon_buld_grey{ background:url(../images/buld_grey.png) no-repeat; padding-left:16px !important; line-height:16px !important; display:inline-block; height:16px; cursor:pointer; vertical-align:middle;}