@charset "utf-8";
/* CSS Document */

.map_place_name{ height:32px; position:absolute; z-index:80; white-space:nowrap;}
.map_place_name span{ background-image:url(../images/map_ui.png);background-repeat:no-repeat; display:inline-block; vertical-align:top;}
.map_place_name .name_left{ width:20px; background-position:0 0;  padding-bottom:10px; padding-left:2px; padding-right:1px; padding-top:2px; height:20px; text-align:center; color:#fff; font-weight:bold; font-size:13px; line-height:20px;}
.map_place_name .name_center{ padding:4px 3px 5px 3px; background-position:0 -123px;  background-color:#fff;  font-size:13px; color:#333; height:16px; line-height:16px; background-position:0 -64px;}
.map_place_name .name_right{ width:5px; background-position:0 -35px; height:25px;}
.map_place_name:hover .name_left{ background-position:0 -92px;}
.map_place_name:hover .name_center{ background-position:0 -157px;}
.map_place_name:hover .name_right{ background-position:0 -128px;}