<div class="main_left">
    	<div class="user_show clearfix">
        	<div class="user_head middle_img"><a href="http://home.ctospace.com/space.php" target="_blank"><img class="user_head_pic" src="http://ucenter.ctospace.com/avatar.php?uid=${Session.userId}&size=middle"  onload="middle(this)"/></a></div>
            <div class="user_info"><a href="http://home.ctospace.com/space.php" target="_blank">${Session.account!''}</a></div> 
        </div>

        <div class="menu_box clearfix">
        	<div class="menu_title">我的空间</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="http://home.ctospace.com/space.php" target="_blank">我的空间</a></li>
                	<li><a href="http://home.ctospace.com/cp.php?ac=profile" target="_blank">资料修改</a></li>            	
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">商家服务</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/center/store/myStore?userId=${Session.userId}">我的店铺</a></li>
                	<li><a href="/manage/center/store/register.html">登记店铺</a></li>
                	<li><a href="/manage/center/store/claim.html">认领店铺</a></li>
                    <li><a href="/manage/center/store/myClaim.html">我的店铺认领</a></li>
                	<li><a href="/manage/center/store/myRegister?userId=${Session.userId}">我登记的店铺</a></li>                    
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">个人服务</div>
            <div class="menu_list">
            	<ul>
                    <li><a href="/manage/center/comment/list?userId=${Session.userId}">我的点评</a></li>
                    <li><a href="/manage/center/photo/list?uploaderId=${Session.userId}">我的图片</a></li>
            	</ul>
            </div>
        </div>
        
    </div>