<!--[if lte IE 6]>
<link href="/static/ie6/manage/style.css" type="text/css" rel="stylesheet"/>
<![endif]-->
<#if centerRightMenu.name="user">
<a href="/manage/center/user/index.html" <#if centerRightMenu.selected=="index">class="selected"</#if>>管理首页<span></span><label></label></a> 
<a href="/manage/center/user/info.html" <#if centerRightMenu.selected=="info">class="selected"</#if>>个人资料<span></span><label></label></a> 
<a href="/manage/center/user/head.html" <#if centerRightMenu.selected=="head">class="selected"</#if>>修改头像<span></span><label></label></a>
<a href="/manage/center/user/modifyPwd.html" <#if centerRightMenu.selected=="pwd">class="selected"</#if>>修改密码<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="store">
<a href="/manage/center/store/myStore?userId=${Session.userId}" <#if centerRightMenu.selected=="owner">class="selected"</#if>>我的店铺<span></span><label></label></a> 
<a href="/manage/center/store/register.html" <#if centerRightMenu.selected=="register">class="selected"</#if>>登记店铺<span></span><label></label></a> 
<a href="/manage/center/store/claim.html" <#if centerRightMenu.selected=="claim">class="selected"</#if>>认领店铺<span></span><label></label></a> 
<a href="/manage/center/store/myClaim.html" <#if centerRightMenu.selected=="myClaim">class="selected"</#if>>我的店铺认领<span></span><label></label></a> 
<a href="/manage/center/store/myRegister?userId=${Session.userId}" <#if centerRightMenu.selected=="myRegister">class="selected"</#if>>我登记的店铺<span></span><label></label></a> 
</#if>
<#if centerRightMenu.name="message">
<a href="#" class="selected">消息列表<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="comment">
<a href="/manage/center/comment/list?userId=${Session.userId}" <#if centerRightMenu.selected=="list">class="selected"</#if>>我的点评<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="photo">
<a href="/manage/center/photo/list?uploaderId=${Session.userId}" <#if centerRightMenu.selected=="list">class="selected"</#if>>我上传的图片<span></span><label></label></a>
</#if>
