<div class="header">
	<div class="logo"><a href="/"><img src="/static/images/logo.png"  /></a></div>
    <div class="user_h_n_list">  <a href="/">首页</a> <span class="split_v_line">|</span> <a href="http://home.ctospace.com/space.php">我的空间</a>  <a href="http://bbs.ctospace.com">美食论坛</a> <span class="split_v_line">|</span> <a href="/member/logout">退出</a></div>
</div>
<div class="nav_bar">
	<div class="nav_list">
    	<a href="/manage/center/user/info.html" class="selected">商户中心<span></span></a>
  </div>
</div>