<link href="/static/store_page/css/style.css" type="text/css" rel="stylesheet"/>
<link href="/static/store_page/css/index.css" type="text/css" rel="stylesheet"/>
<script language="javascript" src="/static/member/js/singlepointlogin.js"></script>