<script language="javascript">
	var siteDomain = "${SiteConfig.siteDomain}";
	var loginStatus = <#if Session?? && Session.userId??>true<#else>false</#if>;
</script>
<script language="javascript" src="/static/member/js/singlepointlogin.js"></script>
