.ke-text {
	font-size: 12px;
	font-family: "sans serif",tahoma,verdana,helvetica;
}
.ke-icon-source {
	background-position: -260px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-print {
	background-position: -440px -20px;
	width: 20px;
	height: 20px;
}
.ke-icon-undo {
	background-position: -160px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-redo {
	background-position: -100px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-cut {
	background-position: -680px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-copy {
	background-position: -700px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-paste {
	background-position: -560px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-selectall {
	background-position: -400px -20px;
	width: 20px;
	height: 20px;
}
.ke-icon-justifyleft {
	background-position: -460px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-justifycenter {
	background-position: -420px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-justifyright {
	background-position: -480px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-justifyfull {
	background-position: -440px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-insertorderedlist {
	background-position: -80px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-insertunorderedlist {
	background-position: -20px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-indent {
	background-position: -400px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-outdent {
	background-position: -540px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-subscript {
	background-position: -600px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-superscript {
	background-position: -620px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-title {
	background-position: -20px -40px;
	width: 86px;
	height: 20px;
}
.ke-icon-fontname {
	background-position: -120px -40px;
	width: 86px;
	height: 20px;
}
.ke-icon-fontsize {
	background-position: -220px -40px;
	width: 86px;
	height: 20px;
}
.ke-icon-textcolor {
	background-position: -720px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-bgcolor {
	background-position: -758px 3px;
	width: 20px;
	height: 20px;
}
.ke-icon-bold {
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-italic {
	background-position: -60px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-underline {
	background-position: -140px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-strikethrough {
	background-position: -120px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-removeformat {
	background-position: -580px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-photo {
	background-position: -380px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-image {
	background-position: -380px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-imageEditor {
	background-position: -380px 0px;
	display:none !important;
	width: 20px;
	height: 20px;
}
.ke-icon-flash {
	background-position: -880px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-media {
	background-position: -320px -20px;
	width: 20px;
	height: 20px;
}
.ke-icon-table {
	background-position: -580px -20px;
	width: 20px;
	height: 20px;
}
.ke-icon-hr {
	background-position: -360px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-emoticons {
	background-position: -60px -20px;
	width: 20px;
	height: 20px;
}
.ke-icon-link {
	background-position: -500px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-unlink {
	background-position: -640px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-fullscreen {
	background-position: -100px -20px;
	width: 20px;
	height: 20px;
}
.ke-icon-about {
	background-position: -340px 0px;
	width: 20px;
	height: 20px;
}
.ke-icon-plainpaste {
	background-position: -360px -20px;
	width: 20px;
	height: 20px;
}
.ke-icon-wordpaste {
	background-position: -380px -20px;
	width: 20px;
	height: 20px;
}
.ke-container {
	border: 1px solid #CCCCCC;
	background-color: #f7f5f4;
	table-layout: fixed;
	overflow: hidden;
	border-collapse:separate;
	padding:0;
	margin:0;
}
.ke-toolbar-outer {
	border: 0;
	padding:0;
	margin: 0;
}
.ke-toolbar {
	width: 100%;
	padding:0;
	margin:0;
	border-collapse:separate;
}
.ke-toolbar td {
	border:0;
	padding: 2px 5px;
	margin:0;
}
.ke-toolbar-table {
	font-size: 0;
	float: left;
	clear: both;
	padding:0;
	margin:0;
	border-collapse:separate;
}
.ke-toolbar-table td {
	border:0;
	padding: 0;
	margin:0;
}
.ke-toolbar-close {
	display: block;
	_background-position: -902px -2px;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-right:2px;
	right: 0;
	top: 0;
	cursor: pointer;
	font-weight:bold;
	_background-image: url(./tinymce/tinymce.png);
}
.ke-bottom-outer {
	border: 0;
	padding: 0;
	margin: 0;
}
.ke-bottom {
	width: 100%;
	font-size: 0;
	padding:0;
	margin:0;
	border-collapse:separate;
}
.ke-bottom-left {
	width: 100%;
	cursor: s-resize;
	border:0;
	margin:0;
	padding:0;
}
.ke-bottom-right {
	cursor: se-resize;
	border:0;
	margin:0;
	padding:0;
	height: 14px;
}
.ke-bottom-right-img {
	display: block;
	background-position: -810px -10px;
	width: 10px;
	height: 10px;
	background-image: url(./tinymce/tinymce.png);
}
.ke-textarea-outer {
	border:0;
	padding: 0;
	margin: 0;
}
.ke-textarea-table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	border-collapse:separate;
}
.ke-textarea-table td {
	border:0;
	padding:3px;
	background:#f7f5f4;
}
.ke-textarea-table td > div{ border:1px solid #ccc;}
.ke-textarea {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;	
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	line-height: 1.5;
	overflow: auto;
}
.ke-iframe {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;	
}
.ke-common-icon {
	display: block;
	background-repeat: no-repeat;
	overflow: hidden;
}
.ke-common-icon-url {
	background-image: url(./tinymce/tinymce.png);
}
.ke-icon {
	display: block;
	border: 1px solid #eef7ff;
	padding: 0px;
	margin: 1px;
	cursor: pointer;
}
.ke-icon-on {
	display: block;
	border: 1px solid #71c3f2;
	background-color: #d7ecff;
	padding: 0px;
	margin: 1px;
	cursor: pointer;
}
.ke-icon-selected {
	display: block;
	border: 1px solid #71c3f2;
	background-color: #d7ecff;
	padding: 0;
	margin: 1px;
	cursor: pointer;
}
.ke-icon-disabled {
	display: block;
	border: 1px solid #eef7ff;
	padding: 0;
	margin: 1px;
	cursor: default;
}
.ke-menu {
	position: absolute;
	border-top: 1px solid #71c3f2;
	border-left: 1px solid #71c3f2;
	border-right: 1px solid #71c3f2;
	border-bottom: 1px solid #71c3f2;
	background-color: #fff;
	color: #366eae;
	font-size: 12px;
	text-align: left;
	padding: 2px;
	z-index: 19811213;
}
.ke-menu-noselected {
	background-color: #eef7ff;
	color: #366eae;
	padding: 2px 30px 2px 10px;
	cursor: pointer;
}
.ke-menu-selected {
	background-color: #71c3f2;
	color: #FFFFFF;
	padding: 2px 30px 2px 10px;
	cursor: pointer;
}
.ke-contextmenu {
	position: absolute;
	border-top: 1px solid #C5C5C5;
	border-left: 1px solid #C5C5C5;
	border-right: 1px solid #9F9F9F;
	border-bottom: 1px solid #9F9F9F;
	background-color: #eef7ff;
	color: #366eae;
	font-size: 12px;
	padding: 2px;
	text-align: left;
	z-index: 19811213;
}
.ke-contextmenu-noselected {
	background-color: #eef7ff;
	color: #366eae;
	font-size: 12px;
	padding: 2px 30px 2px 10px;
	cursor: pointer;
}
.ke-contextmenu-selected {
	background-color: #71c3f2;
	color: #FFFFFF;
	font-size: 12px;
	padding: 2px 30px 2px 10px;
	cursor: pointer;
}
.ke-dialog {
	position: absolute;
	border-top: 1px solid #71c3f2;
	border-left: 1px solid #71c3f2;
	border-right: 1px solid #71c3f2;
	border-bottom: 1px solid #71c3f2;
	background-color: #fff;
	color: #366eae;
	text-align: left;
}
.ke-dialog-title {
	height:25px; line-height:25px; padding:0px 5px; border-bottom:1px solid #dedede; font-size:12px; font-size:12px;
	color:#3f3f3f; background:#f7f5f4;
	cursor: move;
}
.ke-dialog-body {
	margin: 5px;
}
.ke-dialog-iframe {
	border: 1px solid #AAAAAA;
}
.ke-dialog-bottom {
	font-size: 12px;
}
.ke-dialog-preview {
	margin: 5px;
	float: right;
}
.ke-dialog-yes {
	margin: 5px;
	float: right;
}
.ke-dialog-no {
	margin: 5px 10px 5px 5px;
	float: right;
}
.ke-mask {
	position: absolute;
	z-index: 19811212;
	top: 0;
	left: 0;
	display: none;
	background-color: #FFFFFF;
}
.ke-button {
	background-color: #DDDDDD;
	border-top: 2px solid #DDDDDD;
	border-left: 2px solid #DDDDDD;
	border-right: 2px solid #AAAAAA;
	border-bottom: 2px solid #AAAAAA;
	cursor: pointer;
	font-size: 12px;
}
.ke-text-input {
	background-color:#FFFFFF;
	font-size: 12px;
}
.ke-picker-table {
	margin:0;
	padding:0;
	border-collapse: separate;
}
.ke-picker-td {
	width: 14px;
	height: 14px;
	font-size: 12px;
	cursor: pointer;
	margin:0;
	padding:0;
}
.ke-picker-td-top {
	height: 18px;
	font-size: 12px;
	border: 1px solid #eef7ff;
	cursor: pointer;
	margin:0;
	padding:0;
	text-align: center;
}
.ke-loading-table {
	margin:0;
	padding:0;
	border-collapse: separate;
}
.ke-loading-table  td{
	border:0;
	margin:0;
	padding:0;
	font-size: 12px;
}
.ke-loading-img {
	display: block;
	background-repeat: no-repeat;
	background-image: url(./common/loading.gif);
	width: 16px;
	height: 16px;
}
.ke-plugin-emoticons-table {
	margin:0;
	padding:0;
	border-collapse:separate;
	width:390px;
	height:252px;
}
.ke-plugin-emoticons-td {
	margin:0;
	padding:1px;
	border:1px solid #eef7ff;
	cursor:pointer;
}
.ke-plugin-emoticons-span {
	display:block;
	background-repeat:no-repeat;
	overflow:hidden;
	width:24px;
	height:24px;
	background-image:url(./../plugins/emoticons/qq.gif);
}
.ke-plugin-table-table {
	margin:0;
	padding:0;
	border-collapse:separate;
}
.ke-plugin-table-table-td {
	border:0;
	margin:0;
	padding:0;
}
.ke-plugin-table-td-bottom {
	font-size:12px;
	text-align:center;
	height:20px;
	border:0;
	margin:0;
	padding:0;
}
.ke-plugin-table-div {
	border:1px solid #DDDDDD;
	background-color:#FFFFFF;
	cursor:pointer;
	overflow:hidden;
	margin:1px;
	padding:0;
	width:12px;
	height:12px;
}