@charset "utf-8";
/* CSS Document */
.main{ padding-bottom:15px;}
.comment_list{ height:570px; overflow:auto; position:relative; margin-top:7px;}
.comment_list .comment{ padding-bottom:5px; border-bottom:1px dashed #ccc; margin-bottom:10px;}
.comment_list .comment ul{}
.comment_list .comment ul li{ line-height:24px; line-height:24px; padding:0 10px; color:#444;}
.comment_list .comment ul li .low{ color:#999;}
.comment_title{ height:30px; line-height:30px !important; background:#f7f7f7;font-size:13px; font-weight:bold;}
.comment_list .comment_content{ font-size:13px; text-indent:26px; padding:2px 10px;}
.comment_list .comment_title span.right{ float:right; font-weight:normal;}
