@charset "utf-8";
/* CSS Document */
.photo_list{ padding:10px 30px;}
.photo_list .photo{ margin:8px; border:1px solid #ddd; padding:3px; background:#fff; width:100px; height:100px; float:left;}
.photo_list .photo img{ max-height:100px; max-width:100px; vertical-align:middle; }
.photo_manage_menu{text-align:right; color:#999 !important; float:right; font-weight:normal; display:none;}
.photo_manage_menu a{ margin-right:5px; display:inline-block;}
.module_Title_option{ font-weight:normal; float:right;}

.photo_list .selected { border-color:#f79249; border-width:2px; padding:2px;}