@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px; list-style:none; font-size:12px; font-family:Verdana, Geneva, sans-serif;}
a{ color:#2c629e; text-decoration:none;}
a:hover{ text-decoration:underline;}
.no_result{ padding:10px 35px;}

.split_page_list{ text-align:center;}
.split_page_list a{ display:inline-block; padding:2px;height:12px; line-height:12px; text-align:center; text-decoration:none; min-width:12px; color:#444;}
.split_page_list a:hover{ color:#fff; background:#cc6500;}
.split_page_list a.active{ color:#fff; background:#cc6500;}
.split_page_list a.disable{ color:#999;}
.split_page_list a.disable:hover{ color:#fff; background:#ccc;}

.module_title{ height:30px;  line-height:30px; padding:0 15px; padding-bottom:5px; font-size:12px; font-weight:bold; color:#000; background:url(../images/c_title2.gif);}