@charset "utf-8";
/* CSS Document */

.input_txt{ width:165px; height:20px; line-height:20px;padding:0 2px; border:1px solid #1182d4; background:url(../images/input_txt_bg.png);}

.header{ height:74px; width:1000px; margin:0 auto; position:relative; font-family:Tahoma, Geneva, sans-serif !important;}

a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
.header .logo{ width:145px; height:52px; padding:12px 0 0 12px;}
.header .user_h_n_list{ height:15px;line-height:15px; width:300px; position:absolute; top:10px; right:10px; text-align:right; }
.header .user_h_n_list{ color:#999; font-size:10px;}
.header .user_h_n_list a{ color:#666; font-size:12px;}
.footer{ width:1000px; margin:10px auto; text-align:center;padding-top:15px; margin-top:40px; padding-bottom:30px; clear:both;}
.footer p{ padding-bottom:8px;}
.footer{ border-top:2px solid #ccc;}
.input_file{ height:21px; line-height:21px; width:280px;}
body{font-size:13px; margin:0px; padding:0px; color:#333;}
a{ color:#1182d4;}
.ipt_color{ color:#f00;}
a{ color:#cc6500;}
a:hover{ color:#3569d4;}
.nav_bar{ width:1000px; height:38px; margin:0 auto; position:relative;}
.nav_bar .nav_list{ height:31px; width:500px; position:absolute; right:0px; top:7px;}
.nav_bar a{ display:block; height:31px; line-height:31px; padding:0 15px; float:right; margin:0 15px;}
.nav_bar a:hover{ text-decoration:none;}
.nav_bar a.selected{ padding-right:13px; position:relative;}
.nav_bar a.selected span{ height:31px; position:absolute; right:-2px; width:10px; top:0px;}
.main{ width:990px; margin:0 auto; margin-top:10px; padding:15px 5px; min-height:450px;}
.div_table_0{ padding:10px 0px;}
.div_table_0 .table_row{  padding:7px; clear:both;zoom:1; border:1px solid #fff; min-height:25px; line-height:25px;}
.div_table_0 .table_row .row_left{ text-align:right; width:70px; float:left; height:25px; line-height:25px;}
.div_table_0 .table_row .row_right{ float:left; min-width:420px; max-width:650px; padding-left:10px; }
.div_table_0 .table_row .row_right p{ padding-top:5px;}
.step_btn_list{ float:left;}
#actionDoingTip{ min-height:50px; min-width:200px; line-height:50px;  position:absolute; text-align:center; display:none; padding:0px 20px;}
.overlay{ top:0px; left:0px; display:none; position:absolute;}
.nav_bar{ background:url(../images/nav_bar_bg.png);  }
.nav_bar a{ color:#ffdbc0;}
.nav_bar a.selected{ background-image:url(../../images/icon_btn/member_button.png); background-position:0px -62px; background-repeat:no-repeat; color:#444; font-weight:bold;}
.nav_bar a.selected span{ background-image:url(../../images/icon_btn/member_button.png); background-position:-66px -31px;}

.div_table_0 .table_row .field_tip,.div_table_0 .table_row .field_tip_static{ color:#9d9d9d; background:url(../../images/icon_btn/tip.png) no-repeat 5px center; padding:0px 25px; display:inline-block; height:22px; line-height:22px; margin-left:5px; border:1px solid #fff; min-width:200px; }

.div_table_0 .row_selected .field_tip{border:1px solid #8cc6ff; background-color:#e5f2ff; color:#333333;}
.div_table_0 .table_row .field_tip_error{ background:url(../../images/icon_btn/failed.png) no-repeat 5px center                !important; background-color:#fef1f0; border:1px solid #ffb3b6;}
.div_table_0 .table_row .field_tip_hide{ display:none;}
.div_table_0 .table_row .field_tip_right{ background:url(../../images/icon_btn/succeed.png) no-repeat 5px center                !important;}
.div_table_0 .row_selected{ border:1px solid #d4e8fc; background:#f4fcfe;}
.highlight{ color:#cc6500;}
.footer{ border-top:none;}

.main .main_left{ width:168px; padding:10px; zoom:1; float:left;}
.main .main_left{ border:2px solid #f8dcc8;}
.main .main_left .user_show{ background:url(../images/split_line.png) left bottom repeat-x; zoom:1; padding-bottom:10px; padding-top:5px; margin-bottom:15px;}
.main .main_left .user_show .user_head{ height:100px; width:100px; padding:2px; text-align:center; position:relative;border:2px solid #f8dcc8; margin:auto; overflow:hidden;}
.main .main_left .user_show .user_head img{ max-width:100px; max-height:100px;}
.main .main_left .user_show .user_info{ padding:5px; text-align:center;}
.main .main_left .user_show .user_nav{ padding:5px; text-align:left;}

.menu_box{ margin-bottom:15px;}
.menu_box .menu_title{ background:url(../images/menu_title_bg.png) no-repeat; color:#fff; height:18px; width:60px; line-height:18px; text-align:center; font-weight:bold;}
.menu_box .menu_list{ border:2px solid #d46412;}
.menu_box .menu_list ul{ padding:5px 10px;}
.menu_box .menu_list ul li{ background:url(../images/menu_dotted.png) 5px center no-repeat; padding-left:15px; line-height:22px; height:22px; border-bottom:1px dotted #dedede;}
.menu_box .menu_list ul li a{ color:#3569d4;}
.menu_box .menu_list ul li a:hover{ color:#cc6500;}

.main .main_right{ float:right; width:780px; overflow:hidden;}
.main .main_right .main_right_title{ padding-bottom:10px;}
.right_main_menu { border-bottom:1px solid #f1ddc8;}
.right_main_menu a{ background:url(../images/menu_center_btn.png); display:inline-block; height:26px; line-height:26px; padding:0px 10px; padding-right:6px; position:relative; margin-right:2px; text-decoration:none;}
.right_main_menu a span{ background:url(../images/menu_center_btn.png) right top; width:4px; display:block; position:absolute; right:-4px; height:26px; top:0px;}
.right_main_menu a.selected{ background-position:0 -26px; font-weight:bold;}
.right_main_menu a.selected span{ background:url(../images/menu_center_btn.png) right -26px;}
.right_main_menu a.selected label{ background:url(../images/menu_center_btn.png) left -54px; width:9px; height:6px; position:absolute; left:50%; margin-left:-3px; display:block; bottom:-6px;}
.right_main_body{ border:1px solid #f1ddc8; padding:10px; border-top:none; min-height:533px;}

.split_div{line-height:2px; margin:10px 0px; background:url(../images/split_line.png) repeat-x; height:2px;}
.tip_box{ background:#fcf2e6; padding:10px; border:1px solid #e3d5c4;}
.tip_box_1{ border:1px solid #d4e8fc; background:#f4fcfe; padding:10px; line-height:18px;}

.set_user_head .user_head{ width:200px; height:200px; border:2px solid #ccc; text-align:center; padding:2px; margin-top:10px;}
.set_user_head .user_head img{ max-width:200px; max-height:200px;}
.set_user_head .btn_list{ padding-top:5px;}
.set_user_head .update_user_head{ height:320px; overflow:hidden;}
.set_user_head .update_user_head .upload_user_head{ height:320px;}

.table_title{ border-bottom:1px solid #dcdcdc; font-size:13px; font-weight:bold; padding:3px;}
.table_title a{ font-size:12px; font-weight:normal;}
.select_box{ border:1px solid #f7d1b6; padding:5px;line-height:14px; margin-top:5px; max-width:400px; background:#fff;  clear:both;}
.select_box a{color:#3569d4; white-space:nowrap; padding:2px 3px; display:block; float:left; margin:2px;}
.select_box a:hover{ color:#cc6500;}
.select_box a.selected{ background:#cc6500; color:#fff;}
.select_box a.selected:hover{ background:#cc6500;}

.claim_step_title{font-size:18px; color:#ccc;}
.claim_step_title span{ font-size:12px; color:#999; font-weight:normal;}
.claim_step_title .step_active{ color:#333; font-weight:bold;font-size:13px;}
.claim_store_list{ }
.claim_store_list ul{ list-style:none;}
.claim_store_list ul li{ border:1px solid #fff; border-bottom:1px solid #d4e8fc; padding:5px; margin-bottom:1px;}
.claim_store_list ul li:hover{ border:1px solid #d4e8fc; background:#f4fcfe;}
.claim_store_list ul li p{ padding:2px; color:#999;}
.claim_store_list ul li p .list_title{ width:70px; text-align:right; display:inline-block;  color:#cc6500; }
.claim_store_list ul li p .hightlight{ font-weight:bold;}
.claim_store_list ul li p .store_name{ color:#3569d4;}
.claim_store_list .split_page { padding:10px; width:200px; text-align:center;}
.claim_store_list .split_page a{ display:inline-block; padding:2px 3px;}
.claim_store_list .split_page a:hover{ color:#fff; background:#cc6500;}
.claim_step{ display:none;}

.upload_step_title{font-size:18px; color:#ccc;}
.upload_step_title span{ font-size:12px; color:#999; font-weight:normal;}
.upload_step_title .step_active{ color:#333; font-weight:bold;font-size:13px;}

.claim_list_table{ color:#444; padding:10px 0px;}
.claim_list_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5; border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.claim_list_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.claim_list_table .table_row .column_0{ width:305px; padding:0px 5px;  }
.claim_list_table .table_row .column_1{ width:150px; padding:0px 5px; text-align:center;}
.claim_list_table .table_row .column_2{ width:190px; padding:0px 5px; text-align:center;}
.claim_list_table .table_row .column_3{ width:60px; padding:0px 5px; border-right:0px; text-align:center;}
.claim_list_table .table_header .column_3{ text-align:center;}
.claim_list_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.claim_list_table .row_even{ background:#f4fcfe;}
.claim_list_table .table_row:hover{ background:#fcf2e6;}
.claim_list_table .table_row .verify_result:hover{ position:relative;}
.claim_list_table .table_row .verify_result span{ display:none; max-width:200px;border:1px solid #d4e8fc; background:#f4fcfe; padding:5px; min-width:150px; text-align:left; color:#444; text-decoration:none;}
.claim_list_table .table_row .verify_result:hover span{ display:block; position:absolute; top:14px; right:0px;}

.register_list_table{ color:#444; padding:10px 0px;}
.register_list_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5;border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.register_list_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.register_list_table .table_row .column_0{ width:305px; padding:0px 5px;  }
.register_list_table .table_row .column_1{ width:150px; padding:0px 5px; text-align:center;}
.register_list_table .table_row .column_2{ width:150px; padding:0px 5px; text-align:center;}
.register_list_table .table_row .column_3{ width:100px; padding:0px 5px; border-right:0px; text-align:center;}
.register_list_table .table_header .column_3{ text-align:center;}
.register_list_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.register_list_table .row_even{ background:#f4fcfe;}
.register_list_table .table_row:hover{ background:#fcf2e6;}
.register_list_table .table_row .verify_result:hover{ position:relative;}
.register_list_table .table_row .verify_result span{ display:none; max-width:200px;border:1px solid #d4e8fc; background:#f4fcfe; padding:5px; min-width:150px; text-align:left; color:#444; text-decoration:none;}
.register_list_table .table_row .verify_result:hover span{ display:block; position:absolute; top:14px; right:0px;}

.split_page_list{ text-align:center;}
.split_page_list a{ display:inline-block; padding:2px;height:12px; line-height:12px; text-align:center; text-decoration:none; min-width:12px;}
.split_page_list a:hover{ color:#fff; background:#cc6500;}
.split_page_list a.active{ color:#fff; background:#cc6500;}
.split_page_list a.disable{ color:#999;}
.split_page_list a.disable:hover{ color:#fff; background:#ccc;}

.store_list_verify_table{ color:#444;}
.store_list_verify_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5; border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.store_list_verify_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.store_list_verify_table .table_row .column_0{ width:205px; padding:0px 5px;  }
.store_list_verify_table .table_row .column_1{ width:90px; padding:0px 5px; text-align:center;}
.store_list_verify_table .table_row .column_2{ width:100px; padding:0px 5px; text-align:center;}
.store_list_verify_table .table_row .column_3{ width:90px; padding:0px 5px; text-align:center;}
.store_list_verify_table .table_row .column_4{ width:100px; padding:0px 5px; text-align:center;}
.store_list_verify_table .table_row .column_5{ width:100px; padding:0px 5px; border-right:0px; text-align:center;}
.store_list_verify_table .table_header .column_3{ text-align:center;}
.store_list_verify_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.store_list_verify_table .row_even{ background:#f4fcfe;}
.store_list_verify_table .table_row:hover{ background:#fcf2e6;}
.store_list_verify_table .table_row .verify_result:hover{ position:relative;}
.store_list_verify_table .table_row .verify_result span{ display:none; max-width:200px;border:1px solid #d4e8fc; background:#f4fcfe; padding:5px; min-width:150px; text-align:left; color:#444; text-decoration:none;}
.store_list_verify_table .table_row .verify_result:hover span{ display:block; position:absolute; top:14px; right:0px;}

.claim_list_verify_table{ color:#444; padding:0px 10px;}
.claim_list_verify_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5; border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.claim_list_verify_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.claim_list_verify_table .table_row .column_0{ width:285px; padding:0px 5px;  }
.claim_list_verify_table .table_row .column_1{ width:150px; padding:0px 5px; text-align:center;}
.claim_list_verify_table .table_row .column_2{ width:150px; padding:0px 5px; text-align:center;}
.claim_list_verify_table .table_row .column_3{ width:100px; padding:0px 5px; text-align:center; border-right:0px;}
.claim_list_verify_table .table_header .column_3{ text-align:center;}
.claim_list_verify_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.claim_list_verify_table .row_even{ background:#f4fcfe;}
.claim_list_verify_table .table_row:hover{ background:#fcf2e6;}
.claim_list_verify_table .table_row .verify_result:hover{ position:relative;}
.claim_list_verify_table .table_row .verify_result span{ display:none; max-width:200px;border:1px solid #d4e8fc; background:#f4fcfe; padding:5px; min-width:150px; text-align:left; color:#444; text-decoration:none;}
.claim_list_verify_table .table_row .verify_result:hover span{ display:block; position:absolute; top:14px; right:0px;}

.verify_result_info_textarea{ width:300px; height:200px;}
.verify_result_info_textarea textarea{ width:272px; height:130px; line-height:18px; padding:2px;}
.verify_result_info_textarea .title{ font-size:13px; font-weight:bold;}
.verify_result_info_textarea  p{ padding:10px 10px 0px 10px;}

.div_table_user_panel{}
.div_table_user_panel .table_row{  padding:7px; clear:both;zoom:1; border:1px solid #fff; min-height:25px; line-height:25px; border-bottom:1px solid #d8f6fd}
.div_table_user_panel .table_row .row_left{ text-align:right; width:70px; float:left; height:25px; line-height:25px; color:#cc6500;}
.div_table_user_panel .table_row .row_right{ float:left; padding-left:10px;}
.div_table_user_panel .table_row .row_right p{ padding-top:5px;}
.div_table_user_panel .row_even{ background:#f4fcfe;}


.main .main_left .store_show{ background:url(../images/split_line.png) left bottom repeat-x; zoom:1; padding-bottom:10px; padding-top:5px; margin-bottom:15px;}
.main .main_left .store_show .store_face{ width:150px; height:150px; padding:2px; border:2px solid #ccc; text-align:center; overflow:hidden;}
.main .main_left .store_show .store_face img{ max-width:150px; max-height:150px;}
.main .main_left .store_show p{ text-align:center; color:#cc6500; padding-top:5px;}

/* 美食分类列表 */
.relish_cate_list_table{ color:#444; padding:10px 0px;}
.relish_cate_list_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5;border-top:1px solid #e8eff5; border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.relish_cate_list_table .table_footer{ border-top:1px solid #e8eff5; border-bottom:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444; background:#fcf2e6; margin-top:5px;}
.relish_cate_list_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.relish_cate_list_table .table_row .column_0{ width:315px; padding:0px 5px;  }
.relish_cate_list_table .table_row .column_2{ width:200px; padding:0px 5px; text-align:center;}
.relish_cate_list_table .table_row .column_1{ width:205px; padding:0px 5px; text-align:center; border-right:none;}
.relish_cate_list_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.relish_cate_list_table .row_even{ background:#f4fcfe;}
.relish_cate_list_table .table_row:hover{ background:#fcf2e6;}
.relish_cate_list_table .table_row .verify_result:hover{ position:relative;}
.relish_cate_list_table .table_row .verify_result span{ display:none; max-width:200px;border:1px solid #d4e8fc; background:#f4fcfe; padding:5px; min-width:150px; text-align:left; color:#444; text-decoration:none;}
.relish_cate_list_table .table_row .verify_result:hover span{ display:block; position:absolute; top:14px; right:0px;}
.relish_cate_list_table span.category_editor{ display:none;}

.lowlight{ color:#999;}

/* 美食列表 */
.relish_list_table{ color:#444; padding:10px 0px;}
.relish_list_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5;border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.relish_list_table .table_row{  background:#fff;}
.relish_list_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.relish_list_table .table_row .column_0{ width:230px; padding:0px 5px;  }
.relish_list_table .table_row .column_1{ width:80px; text-align:center;  }
.relish_list_table .table_row .column_2{ width:100px; text-align:center; }
.relish_list_table .table_row .column_3{ width:110px; text-align:center; }
.relish_list_table .table_row .column_4{ width:130px; text-align:center; }
.relish_list_table .table_row .column_5{ width:90px; text-align:center; border-right:none;}
.relish_list_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.relish_list_table .row_even{ background:#f4fcfe;}
.relish_list_table .table_row:hover{ background:#fcf2e6;}
.relish_list_table .table_row .column_0:hover{ position:relative;}
.relish_list_table .table_row .verify_result:hover{ position:relative;}
.relish_list_table .table_row .verify_result span{ display:none; max-width:200px;border:1px solid #d4e8fc; background:#f4fcfe; padding:5px; min-width:150px; text-align:left; color:#444; text-decoration:none;}
.relish_list_table .table_row .verify_result:hover span{ display:block; position:absolute; top:14px; right:0px;}
.relish_list_table span.category_editor{ display:none;}
.relish_category_menu{ border:1px solid #cc6500; background:#fff; position:absolute; left:50%; top:50%; display:none;}
.relish_category_menu a{ display:block; padding:2px 4px;}
.relish_category_menu a:hover{ background:#cc6500; color:#fff;}
.relish_list_table .table_row a.highlight{ color:#3569d4;}
.relish_list_table .has_deleted{ color:#ccc !important;}
.relish_list_table .has_deleted a{ color:#ccc !important;}
.relish_list_table .table_row .column_0 .relish_row_preview{ width:200px; max-height:200px; border:1px solid #ccc; text-align:center; padding:2px; margin-top:10px; position:absolute; top:16px; left:2px; display:none; background:#fff;}
.relish_list_table .table_row .column_0 .relish_row_preview img{ max-width:200px; max-height:200px;}

/* 优惠列表 */
.promotion_list_table{ color:#444; padding:10px 0px;}
.promotion_list_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5;border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.promotion_list_table .table_row{  background:#fff;}
.promotion_list_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.promotion_list_table .table_row .column_0{ width:180px; padding:0px 5px;  }
.promotion_list_table .table_row .column_1{ width:60px; text-align:center;  }
.promotion_list_table .table_row .column_2{ width:85px; text-align:center; }
.promotion_list_table .table_row .column_3{ width:85px; text-align:center; }
.promotion_list_table .table_row .column_4{ width:85px; text-align:center; }
.promotion_list_table .table_row .column_5{ width:145px; text-align:center; }
.promotion_list_table .table_row .column_6{ width:100px; text-align:center; border-right:none;}
.promotion_list_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.promotion_list_table .row_even{ background:#f4fcfe;}
.promotion_list_table .table_row:hover{ background:#fcf2e6;}
.promotion_list_table .table_row .column_0:hover{ position:relative;}
.promotion_list_table .table_row .verify_result:hover{ position:relative;}
.promotion_list_table .table_row .verify_result span{ display:none; max-width:200px;border:1px solid #d4e8fc; background:#f4fcfe; padding:5px; min-width:150px; text-align:left; color:#444; text-decoration:none;}
.promotion_list_table .table_row .verify_result:hover span{ display:block; position:absolute; top:14px; right:0px;}
.promotion_list_table span.category_editor{ display:none;}
.promotion_category_menu{ border:1px solid #cc6500; background:#fff; position:absolute; left:50%; top:50%; display:none;}
.promotion_category_menu a{ display:block; padding:2px 4px;}
.promotion_category_menu a:hover{ background:#cc6500; color:#fff;}
.promotion_list_table .table_row a.highlight{ color:#3569d4;}
.promotion_list_table .has_deleted{ color:#ccc !important;}
.promotion_list_table .has_deleted a{ color:#ccc !important;}
.promotion_list_table .table_row .column_0 .promotion_row_preview{ width:200px; max-height:200px; border:1px solid #ccc; text-align:center; padding:2px; margin-top:10px; position:absolute; top:16px; left:2px; display:none; background:#fff;}
.promotion_list_table .table_row .column_0 .promotion_row_preview img{ max-width:200px; max-height:200px;}


.photo_manage_list{}
.photo_manage_list .photo{ color:#999; text-align:center; width:104px; float:left; margin:5px; cursor:pointer;}
.photo_manage_list .photo .img_view{ width:100px; height:100px; border:1px solid #ccc; padding:1px; overflow:hidden;}
.photo_manage_list .photo .img_view a{ width:100px; height:100px; display:inline-block;}
.photo_manage_list .photo .img_view:hover{ border-color:#f79249;}
.photo_manage_list .photo img{ max-width:100px; max-height:100px; text-align:center;}
.photo_manage_list .photo p{ padding-top:5px;}
.photo_manage_list .selected .img_view{ border-color:#f79249; border-width:2px; padding:0px;}

.photo_uploader{ padding:5px;}
.photo_upload_file_table{ padding:3px;}

.photo_upload_file_table{ color:#444;}
.photo_upload_file_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5;border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.photo_upload_file_table .table_row{  background:#fff;}
.photo_upload_file_table .table_row .file{ width:280px;}
.photo_upload_file_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.photo_upload_file_table .table_row .column_0{ width:300px; padding:0px 5px;  }
.photo_upload_file_table .table_row .column_1{ width:150px; text-align:center; border-right:none;}
.photo_upload_file_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.photo_upload_file_table .row_even{ background:#f4fcfe;}
.photo_upload_file_table .table_row:hover{ background:#fcf2e6;}
.photo_category_menu{ border:1px solid #cc6500; background:#fff; position:absolute; left:50%; top:50%; display:none;}
.photo_category_menu a{ display:block; padding:2px 4px;}
.photo_category_menu a:hover{ background:#cc6500; color:#fff;}
.photo_upload_file_table .table_row a.highlight{ color:#3569d4;}
.photo_upload_file_table .has_deleted{ color:#ccc !important;}
.photo_upload_file_table .has_deleted a{ color:#ccc !important;}
.photo_upload_file_table .table_row .column_0 .relish_row_preview{ width:200px; max-height:200px; border:1px solid #ccc; text-align:center; padding:2px; margin-top:10px; position:absolute; top:16px; left:2px; display:none; background:#fff;}
.photo_upload_file_table .table_row .column_0 .relish_row_preview img{ max-width:200px; max-height:200px;}
.photo_upload_file_table .table_row .column_0:hover .relish_row_preview{ display:block;}

.down_select_menu{ border:1px solid #cc6500; background:#fff; position:absolute; left:50%; top:50%; display:none;}
.down_select_menu a{ display:block; padding:2px 4px;}
.down_select_menu a:hover{ background:#cc6500; color:#fff;}

.tip_stat_show{ font-size:11px; color:#999;}
.tip_stat_show a.hl{ color:#3569d4;}
.tip_stat_show span{ margin-right:1px;}

/* 消息 */
.message_list_table{ color:#444;}
.message_list_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5;border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.message_list_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.message_list_table .table_row .column_0{ width:305px; padding:0px 5px;  }
.message_list_table .table_row .column_1{ width:150px; padding:0px 5px; text-align:center;}
.message_list_table .table_row .column_2{ width:150px; padding:0px 5px; text-align:center;}
.message_list_table .table_row .column_3{ width:100px; padding:0px 5px; border-right:0px; text-align:center;}
.message_list_table .table_header .column_3{ text-align:center;}
.message_list_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.message_list_table .row_even{ background:#f4fcfe;}
.message_list_table .table_row:hover{ background:#fcf2e6;}
.message_list_table .table_row .verify_result:hover{ position:relative;}
.message_list_table .table_row .verify_result span{ display:none; max-width:200px;border:1px solid #d4e8fc; background:#f4fcfe; padding:5px; min-width:150px; text-align:left; color:#444; text-decoration:none;}
.message_list_table .table_row .verify_result:hover span{ display:block; position:absolute; top:14px; right:0px;}

.message_read{}
.message_read .message_title{ background:#f7f6f2; line-height:26px;font-weight:bold; padding:0px 5px;}
.message_read .message_content{ padding:5px; line-height:18px;}

a.focus{ color:#3569d4;}

.content_list_table{ color:#444;}
.content_list_table .table_header{ background:#fcf2e6; border-bottom:1px solid #e8eff5; border-top:1px solid #e8eff5;font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444;}
.content_list_table .table_row .row_column{ float:left; border-right:1px solid #d4e8fc;}
.content_list_table .table_row .column_0{ width:295px; padding:0px 5px;  }
.content_list_table .table_row .column_1{ width:70px; padding:0px 5px; text-align:center;}
.content_list_table .table_row .column_2{ width:70px; padding:0px 5px; text-align:center;}
.content_list_table .table_row .column_3{ width:150px; padding:0px 5px; text-align:center;}
.content_list_table .table_row .column_4{ width:115px; padding:0px 5px; border-right:0px; text-align:center;}
.content_list_table .table_header .column_3{ text-align:center;}
.content_list_table .table_row{  line-height:18px; min-height:18px; padding:5px 0px;}
.content_list_table .row_even{ background:#f4fcfe;}
.content_list_table .table_row:hover{ background:#fcf2e6;}
.content_list_table .table_row a.highlight{ color:#3569d4;}
.content_list_table .has_deleted{ color:#ccc !important;}
.content_list_table .has_deleted a{ color:#ccc !important;}

.comment_list_table{ }
.comment_list_table .table_row{ padding:5px 0px;}
.comment_list_table .comment_title{ background:#f7f7f7; height:24px; line-height:24px; padding:0px 5px; font-size:13px;}
.comment_list_table .comment_title span.op{ float:right;}
.comment_list_table .comment_title span a{ font-size:12px; color:#cc6500; font-weight:normal;}
.comment_list_table .comment_detail{ font-size:12px; padding:5px;}
.comment_list_table .comment_detail span.comment_time{ color:#999;}
.comment_list_table .comment_title a{ color:#3569d4; font-weight:bold;}
.comment_list_table .comment_score{ line-height:18px; height:18px; font-size:13px; padding:5px;}
.comment_list_table .comment_content{ line-height:20px; font-size:13px; padding:0px 5px;}
.comment_list_table .icon_good{ padding-left:13px; width:auto; color:#3569d4;}
.comment_list_table .row_even{ background:#f4fcfe;}
.comment_list_table .has_deleted{ color:#ccc !important;}
.comment_list_table .has_deleted a{ color:#ccc !important;}
.comment_list_table .content_more{ display:none;}


.search_verify_list_table{ }
.search_verify_list_table .table_row{ padding:5px 0px;}
.search_verify_list_table .comment_title{ background:#f7f7f7; height:24px; line-height:24px; padding:0px 5px; font-size:13px;}
.search_verify_list_table .comment_detail{ font-size:12px; padding:5px; text-align:right;}
.search_verify_list_table .comment_title a{ color:#3569d4; font-weight:bold;}
.search_verify_list_table .comment_content{ line-height:18px; font-size:13px; padding:5px;}
.search_verify_list_table .has_deleted{ color:#ccc !important;}
.search_verify_list_table .has_deleted a{ color:#ccc !important;}
.search_verify_list_table .content_more{ display:none;}

/* 个人首页 */
.user_center_index{ padding-top:10px;}
.user_center_index .user_stat{ width:380px; float:left;}
.user_center_index .broadcast_msg_list{ width:300px; float:left;  padding-left:40px;}
.user_center_index .broadcast_msg_list p{ font-size:12px;}
.user_center_index .broadcast_msg_list ul{ padding:3px 0;}
.user_center_index .broadcast_msg_list ul li{ padding:3px 0px; border-bottom:1px dotted #ccc;}
.user_center_index .broadcast_msg_list ul li:hover{  background:#fcf2e6;}
.user_center_index .broadcast_msg_list ul li span{ float:right; color:#999;}
.user_stat_list{ padding:10px; padding-top:0px; width:360px; float:left;}
.user_stat_list .title{ font-weight:bold; padding-bottom:5px;border-bottom:2px solid #f18c29;}
.user_stat_list ul{ border-top:2px solid #fff1dd;}
.user_stat_list ul li{ height:30px; line-height:30px;}
.user_stat_list ul li:hover{ background:#cc6500 !important; color:#fff; }
.user_stat_list ul li:hover span{ color:#fff;}
.user_stat_list ul li span{ color:#cc6500; margin-right:10px; width:70px; display:inline-block; padding-left:5px;}
.user_stat_list ul li.even{background:#f5f8ff;}
.user_stat_list ul li a{ color:#3569d4;}
.user_stat_list ul li:hover a{ color:#fff;}

.message_tip{ font-size:12px;}
.state_table{ border:1px solid #ccd4e7; margin-top:5px; border-right:none; border-bottom:none;}
.state_table td{  border-bottom:1px solid #ccd4e7; border-right:1px solid #ccd4e7; text-align:center;}
.state_table tr{height:30px;}
.state_table tr.thead{ background:#F5F8ff; font-size:13px; font-weight:normal !important; color:#999; height:24px !important;}
.state_table tr:hover{ background:#cc6500 !important; color:#fff;}
.state_table tr.even{ background:#fcf2e6;}
.state_table tr:hover a{ color:#fff;}

.table_row_sortable_place_holder{ border:1px solid #fed22f; background:#fff0a5; height:26px;}

.setmeal_relish_list{}
.setmeal_relish_list li{ float:left; border:1px solid #ccc; padding:0 5px; height:20px; line-height:20px; margin:1px; background:#fff;}
.setmeal_relish_list li span{ color:#f00; cursor:pointer; padding-left:2px;}
.setmeal_relish_list li.relish_place_holder{ border:1px solid #fed22f; background:#fff0a5; height:20px; line-height:20px; margin:1px;}
.setmeal_relish_list li:hover{ background:#ff6600; color:#fff ;}
.setmeal_relish_list li:hover span{ color:#fff;}

.domain_stat_list{ padding:10px; padding-top:0px; }
.domain_stat_list .title{ font-weight:bold; padding-bottom:5px;border-bottom:2px solid #f18c29;}
.domain_stat_list ul{ border-top:2px solid #fff1dd;}
.domain_stat_list ul li{ height:30px; line-height:30px;}
.domain_stat_list ul li:hover{ background:#cc6500 !important; color:#fff; }
.domain_stat_list ul li:hover span{ color:#fff;}
.domain_stat_list ul li span{ color:#cc6500; margin-right:10px; width:70px; display:inline-block; padding-left:5px;}
.domain_stat_list ul li.even{background:#f5f8ff;}
.domain_stat_list ul li a{ color:#3569d4;}
.domain_stat_list ul li:hover a{ color:#fff;}

.list_table tr td{ height:26px; line-height:26px;}
.list_table .table_header{ background:#ff6600 !important; border-bottom:1px solid #e8eff5;border-top:1px solid #e8eff5; font-weight:bold; padding-bottom:2px; height:12px; margin-bottom:5px; color:#444444; height:25px; line-height:25px; color:#fff;}
.list_table tr.even{background:#f5f8ff;}
.list_table tr:hover{ background:#fcf2e6;}

.form_table tr:hover{ border:1px solid #8cc6ff; background-color:#e5f2ff;}
