<div class="footer">
	<p><script type="text/javascript" src="http://bbs.ctospace.com/api/javascript.php?key=%E7%BE%8E%E9%A3%9F%E7%BE%8E%E5%AE%A2%E5%BA%95%E9%83%A8%E5%AF%BC%E8%88%AA"></script></p>
    <p>美食美客版权所有 2010 本站所有内容，未经许可，均不得转载</p>
</div>