<!--[if lte IE 6]>
<link href="/static/ie6/site/style.css" type="text/css" rel="stylesheet"/>
<link href="/static/ie6/css/html_ui.css" type="text/css" rel="stylesheet"/>
<![endif]-->
<div class="header clearfix">
	<div class="logo"><a href="/"><img src="/static/images/logo.png" /></a>
<div class="region_where">太原</div></div>
    <div class="header_nav_list"><#if Session?? && Session.userId??>欢迎 <span class="highlight">${Session.account}</span> <span class="split_v_line">|</span> <a href="http://home.ctospace.com/space.php">我的空间</a> <a href="/manage/center/store/myStore?userId=${Session.userId}" class="store_center_menu_handler menu_down">商户中心</a> <span class="split_v_line">|</span> <a href="http://bbs.ctospace.com">美食论坛</a> <a href="/member/logout">退出</a><#else><a href="/manage/center/store/register.html" target="_blank">登记店铺</a> <a href="/manage/center/store/claim.html" target="_blank">认领店铺</a> <span class="split_v_line">|</span> <a href="/member/login.html" target="_blank">登录</a> <a href="/member/regedit.html" target="_blank">注册</a></#if></div>
</div>
<div class="nav_bar clearfix">
  <div class="nav_area">
  	<div class="nav_list">
  	<a href="/" <#if navMenu="index">class="selected"</#if>><span class="left"></span><span class="center">首页</span><span class="right"></span><span class="pointer"></span></a> 
    <span class="a_split"></span> 
    <a href="/search/store" <#if navMenu="store">class="selected"</#if>><span class="left"></span><span class="center">餐厅</span><span class="right"></span><span class="pointer"></span></a> 
    <span class="a_split"></span> 
    <a href="/search/yh" <#if navMenu="yh">class="selected"</#if>><span class="left"></span><span class="center">优惠</span><span class="right"></span><span class="pointer"></span></a>  
    <span class="a_split"></span> 
    <a href="http://home.ctospace.com/space.php" ><span class="left"></span><span class="center">美客空间</span><span class="right"></span><span class="pointer"></span></a> 
    <span class="a_split"></span> 
    <a href="http://bbs.ctospace.com" ><span class="left"></span><span class="center">美食论坛</span><span class="right"></span><span class="pointer"></span></a>
        
  </div>
  <div class="search_form">
    	<form action="<#if (searchWhat!"store")=="store">/search/store<#else>/search/yh</#if>" onsubmit="onSearchSubmit()" id="headerSearchForm">
        	<span class="search_input_left"></span><span class="search_what"><span class="search_name"><#if (searchWhat!"store")=="store">餐厅<#else>优惠</#if></span></span><input type="text" id="searchInput" name="kw" class="search_input <#if (kw!'') == "">search_input_tip</#if>" value="<#if (kw!'') == "">餐厅名、菜系、街道、路、商区、地标<#else>${kw}</#if>"/> <input type="submit" class="search_btn" value=" 搜索 " />
        </form> 
    </div>
</div>
</div>
<#if Session?? && Session.userId??>
<div class="store_center_menu"><a href="http://${SiteConfig.siteDomain}/manage/center/store/myStore">我的店铺</a><a href="http://${SiteConfig.siteDomain}/manage/center/store/register.html">登记店铺</a><a href="http://${SiteConfig.siteDomain}/manage/center/store/claim.html">认领店铺</a></div>
<script language="javascript">
	$(".store_center_menu_handler").popmenu({menuSelector:".store_center_menu",event:"mouseover"});
</script>
</#if>
<div class="search_what_menu"><a href="javascript:">餐厅</a> <a href="javascript:">优惠</a></div>
<script language="javascript">
	$(".search_what").popmenu({menuSelector:".search_what_menu",event:"mouseover"});
	$(".search_what_menu a").click(function(){
						var action = "";
						if($(this).html()=="餐厅"){
							action = "/search/store";
						}else
						if($(this).html()=="优惠"){
							action = "/search/yh";
						}
						$(".search_name").html($(this).html());
						$(".search_what_menu").hide();
						$("#headerSearchForm").attr("action",action);
					});
	$("#searchInput").blur(function(){
							if($.trim($(this).val()) == ""){
								$(this).val("餐厅名、菜系、街道、路、商区、地标").addClass("search_input_tip");
							}
						});
	$("#searchInput").click(function(){
							if($.trim($(this).val()) == "餐厅名、菜系、街道、路、商区、地标"){
								$(this).val("").removeClass("search_input_tip");
							}			 
						});
	function onSearchSubmit(){
		if($("#searchInput").val()=="餐厅名、菜系、街道、路、商区、地标")
			$("#searchInput").val("");
		return true;
	}
</script>