@charset "utf-8";
/* CSS Document */
.right_main_menu label{ display:none !important;}
.right_main_menu a{ background:url(images/menu_center_btn.png) !important;}
.right_main_menu a span{ background:url(images/menu_center_btn.png)  right -26px !important;}