<div class="header">
	<div class="logo"><a href="/"><img src="/static/images/logo.png"  /></a></div>
    <div class="user_h_n_list"><a href="/">首页</a>  |  <a href="http://bbs.ctospace.com" target="_blank">美食论坛</a>  |  <a href="http://home.ctospace.com/space.php">我的空间</a> |  <#if Session.userId??><a href="/member/logout">退出</a></#if></div>
</div>
<div class="nav_bar">
	<div class="nav_list">
    	<a href="/manage/store/info?storeId=${Parameters.storeId!0}" class="selected">店铺管理中心<span></span></a>
  </div>
</div>