<script language="javascript" src="/static/store/js/store_api.js"></script>
<script language="javascript" src="/static/message/js/message_api.js"></script>
<script language="javascript" src="/static/store_page/relish/js/app.js"></script>
<script language="javascript">
	$(function(){
		showManageStoreName();	 
	})
	function showManageStoreName(){
		Store.getStoreByStoreId(${Parameters.storeId!0},function(store){
													$(".manage_store_name").html(store.name);		
												});
	}
</script>
<div class="main_left">
        <div class="store_show clearfix">
        	<div class="store_face clearfix middle_img"><a href="/s/${Parameters.storeId}" target="_blank"><img class="store_face_img" src="http://file.ctospace.com/store/face/${Parameters.storeId!0}" onerror="this.src='/static/images/store_face_default.png'"/></a>            
            </div>
            
            <p class="manage_store_name">正在加载</p>
           </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">店铺管理</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/store/index.html?storeId=${Parameters.storeId!0}">管理首页</a></li>
                	<li><a href="/manage/center/store/myStore?userId=${Session.userId!0}">我的店铺</a></li>
                	<li><a href="/manage/store/info?storeId=${Parameters.storeId!0}">基本信息修改</a></li>
                	<li><a href="/manage/store/face?storeId=${Parameters.storeId!0}">门面图片设置</a></li> 
                            	
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">增值服务</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/store/vas/domain/domain.html?storeId=${Parameters.storeId!0}">域名服务</a></li>     
                	<li><a href="/manage/store/vas/promotion/list?storeId=${Parameters.storeId!0}">推广信息</a></li>      
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">美味管理</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/store/relish/list?storeId=${Parameters.storeId!0}&pageSize=20">美味管理</a></li>
                	<li><a href="/manage/store/relish/add.html?storeId=${Parameters.storeId!0}">添加美味</a></li>
                	<li><a href="/manage/store/relish/category/list?storeId=${Parameters.storeId!0}">美味分类</a></li>          
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">套餐管理</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/store/relish/setmeal/list.html?storeId=${Parameters.storeId!0}">套餐管理</a></li>
                	<li><a href="/manage/store/relish/setmeal/add.html?storeId=${Parameters.storeId!0}">添加套餐</a></li>
                	<li><a href="/manage/store/relish/setmeal/category/list?storeId=${Parameters.storeId!0}">套餐分类</a></li>        
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">促销优惠</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/store/promotion/list?storeId=${Parameters.storeId!0}">优惠管理</a></li>
                	<li><a href="/manage/store/promotion/add.html?storeId=${Parameters.storeId!0}">添加优惠</a></li>                    
            	</ul>
            </div>
        </div>
         <div class="menu_box clearfix">
        	<div class="menu_title">图片管理</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="javascript:" onclick="PhotoUploadPanel.show(${Parameters.storeId!0},'1','7','美食美客焖锅',1);">上传图片</a></li>
                	<li><a href="/manage/store/photo/list?storeId=${Parameters.storeId!0}">图片管理</a></li>
                	<li><a href="/manage/store/photo/category/list?storeId=${Parameters.storeId!0}">图片分类</a></li>              
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">新闻公告</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/store/content/add.html?storeId=${Parameters.storeId!0}">添加动态</a></li>
                	<li><a href="/manage/store/content/list?storeId=${Parameters.storeId!0}">管理动态</a></li>
            	</ul>
            </div>
        </div>  
        <div class="menu_box clearfix">
        	<div class="menu_title">搜索管理</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/store/search/set.html?storeId=${Parameters.storeId!0}">搜索设置</a></li>
                    <li><a href="/manage/store/search/apply/result.html?storeId=${Parameters.storeId!0}">审核结果</a></li>
            	</ul>
            </div>
        </div>     
    </div>