<link href="/static/manage/css/manage_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="/static/js/common_util.js"></script>
<script language="javascript" src="/static/store/photo/js/photo_application.js"></script>