<!--[if lte IE 6]>
<link href="/static/ie6/manage/style.css" type="text/css" rel="stylesheet"/>
<![endif]-->
<#if centerRightMenu.name="store">
<a href="/manage/store/index.html?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="index">class="selected"</#if>>管理首页<span></span><label></label></a> 
<a href="/manage/store/info?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="info">class="selected"</#if>>基本信息修改<span></span><label></label></a> 
<a href="/manage/store/face?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="face">class="selected"</#if>>门面图片设置<span></span><label></label></a>

</#if>
<#if centerRightMenu.name="promotion">
<a href="/manage/store/promotion/add.html?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="add">class="selected"</#if>>添加优惠<span></span><label></label></a> 
<a href="/manage/store/promotion/list?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="list">class="selected"</#if>>优惠管理<span></span><label></label></a> 
<#if centerRightMenu.selected=="modify">
<a href="#" class="selected">修改优惠<span></span><label></label></a>
</#if>
</#if>
<#if centerRightMenu.name="relish">
<a href="/manage/store/relish/list?storeId=${Parameters.storeId!0}&pageSize=20" <#if centerRightMenu.selected=="list">class="selected"</#if>>美味管理<span></span><label></label></a> 
<a href="/manage/store/relish/add.html?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="add">class="selected"</#if>>添加美味<span></span><label></label></a>
<a href="/manage/store/relish/category/list?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="category">class="selected"</#if>>美味分类<span></span><label></label></a>
<#if centerRightMenu.selected=="modify">
<a href="#" class="selected">美味修改<span></span><label></label></a>
</#if>
</#if>

<#if centerRightMenu.name="photo">
<a href="/manage/store/photo/list?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="list">class="selected"</#if>>图片管理<span></span><label></label></a> 
<a href="/manage/store/photo/category/list?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="category">class="selected"</#if>>分类管理<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="message">
<a href="#" class="selected">消息列表<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="content">
<a href="/manage/store/content/list?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="list">class="selected"</#if>>管理动态<span></span><label></label></a>
<a href="/manage/store/content/add.html?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="add">class="selected"</#if>>添加动态<span></span><label></label></a>
<a href="#" <#if centerRightMenu.selected=="modify">class="selected"</#if>>修改动态<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="search">
<a href="/manage/store/search/set.html?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="apply">class="selected"</#if>>设置关键字<span></span><label></label></a>
<a href="/manage/store/search/apply/result.html?storeId=${Parameters.storeId!0}" <#if centerRightMenu.selected=="result">class="selected"</#if>>审核结果<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="setMeal">
<a href="/manage/store/relish/setmeal/category/list?storeId=${Parameters.storeId}" <#if centerRightMenu.selected=="category">class="selected"</#if>>套餐分类管理<span></span><label></label></a>
<a href="/manage/store/relish/setmeal/add.html?storeId=${Parameters.storeId}" <#if centerRightMenu.selected=="add">class="selected"</#if>>添加套餐<span></span><label></label></a>
<a href="/manage/store/relish/setmeal/list.html?storeId=${Parameters.storeId}" <#if centerRightMenu.selected=="list">class="selected"</#if>>套餐管理<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="order">
<a href="/manage/store/order/info?storeId=${Parameters.storeId}" <#if centerRightMenu.selected=="info">class="selected"</#if>>网上订餐<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="vas">
<#if centerRightMenu.selected=="domain">
<a href="/manage/store/vas/domain/domain.html?storeId=${Parameters.storeId!0}" class="selected">域名服务<span></span><label></label></a>
</#if>
</#if>