@charset "utf-8";
/* CSS Document */

.comment_list{ padding:20px 0px;}
.comment_list .comment{}
.comment_list .comment .comment_user{ width:62px; height:62px; float:left; margin:10px 20px 10px 10px;}
.comment_list .comment .comment_user .user_head { width:60px; height:60px; padding:1px; border:1px solid #ccc;}
.comment_list .comment .comment_user .user_head img{ width:60px; height:60px;}
.comment_list .comment .comment_user .user_head{ border:1px solid #dddddd;}
.comment_list .comment .comment_user .user_name{ text-align:center; padding-top:5px;}
.comment_list .comment .comment_detail{ width:540px; float:left; padding-left:10px;}
.comment_list .comment .comment_detail ul{}
.comment_list .comment .comment_detail ul li{ padding-bottom:5px;} 
.comment_list .comment .comment_detail .comment_content{ line-height:18px; padding-bottom:10px; min-height:50px;}
.comment_list .comment .comment_detail ul li.comment_time{ color:#999;}
.comment_list .no_comment{ padding:10px 10px;}