@charset "utf-8";
/* CSS Document */
.main{ width:654px; margin:0 auto; font-family:"宋体"; color:#2b2b2b;}
.dianping_form ul{ padding:10px 20px;}
.dianping_form ul li{ padding:5px 0;}

.score_field div{ width:100px; float:left;  padding-right:10px;}
.score_field div p{ padding-bottom:5px;}
.score_field_warpper{  border:3px solid #f7d2b6; padding:3px 5px; margin-left:3px; display:inline-block;}
.score_field div p .score_result_txt{ color:#999;}