@charset "utf-8";
/* CSS Document */

.main .main_left .store_info{}
.store_info .store_info_left{ width:210px; background:#f8f8f8; border:1px solid #e5e5e5; height:380px; padding:10px; float:left;}
.store_info .store_info_left .store_face{ width:200px; text-align:center; border:1px solid #e5e5e5; padding:5px; height:200px; background:#fff;}
.store_info .store_info_left ul.info_show{ list-style:none; padding:10px; padding-bottom:5px;}
.store_info .store_info_left ul.info_show li{ min-height:20px; line-height:20px;}
.store_info .store_info_left ul.info_show li div{ width:147px; float:right;}
.store_info .store_info_left ul.info_show li div a{ display:inline-block; padding-right:5px;}

.store_info .store_info_left .regeister_show{ text-align:center; color:#999;}
.store_info .store_info_left .regeister_show a{ color:#ff6600;}
.other_op_list a{ color:#666;}
.other_op_list a:hover{ color:#ff6600;}

.store_info .store_info_right{ width:400px; float:left; padding-left:20px;}
.store_info .store_info_right ul{ list-style:none; padding-left:5px;}
.store_info .store_info_right ul li{ padding-bottom:10px;}
.store_info .store_info_right ul li.info_title{ width:75px; text-align:right; display:inline-block;}
.detail_score{ width:306px; height:117px; background:url(../images/box_style_0.png); font-size:12px; padding-top:25px; padding-left:20px;}
.detail_score p .detail_name{ width:65px; text-align:right; display:inline-block;}
.detail_score p{ padding:2px 0;}

/* 餐厅首页 图片展示 */
.store_photo_show{ border:1px solid #c9c8c8; width:360px; height:220px; position:relative; overflow:hidden;}
.store_photo_show .photo_show_area{ padding:5px; text-align:center; height:210px; width:320px; overflow:hidden; margin:auto;}
.store_photo_show .photo_show_area img{ max-width:320px; max-height:210px;}
.store_photo_show .photo_to_left{ width:18px; height:32px; position:absolute; top:50%; margin-top:-16px; left:-1px;  cursor:pointer; display:none;}
.store_photo_show .photo_to_right{ width:18px; height:32px; position:absolute; top:50%; margin-top:-16px; right:-1px; cursor:pointer; display:none;}
.store_photo_show .photo_show_area .photo{ width:320px; height:210px; float:left; margin-bottom:5px;}
.store_photo_show .photo_show_taps{ position:absolute; bottom:2px; right:2px; height:18px;}
.store_photo_show .photo_show_taps a{ display:inline-block; min-width:12px; height:12px; line-height:12px; text-align:center;   background:#fff; padding:2px; border:1px solid #c9c8c8; color:#ff6600; text-decoration:none;}
.store_photo_show .photo_show_taps a.current{ color:#fff; background:#ff6600;}
.store_photo_show:hover .photo_to_left{ display:block;}
.store_photo_show:hover .photo_to_right{ display:block;}

/* 推荐美味 */
.relish_tj_list{}
.relish_tj_list .relish{ font-size:13px; width:88px; float:left; margin:4px; background:#fff;}
.relish_tj_list .relish .relish_base{ width:88px;}
.relish_tj_list .relish .relish_img{ border:1px solid #ddd; padding:3px; background:#fff; width:80px; height:80px;}
.relish_tj_list .relish .relish_img img{ max-height:80px; max-width:80px; vertical-align:middle; }
.relish_tj_list .relish .relish_base .relish_name{ text-align:center; padding:5px;}
.relish_tj_list .relish .relish_detail{ display:none;}
.relish_tj_list .show_detail{ width:239px; height:90px; background:url(../images/show_box_bg.png); padding:8px;}
.relish_tj_list .show_detail .relish_detail .relish_img{ float:left;}
.relish_tj_list .show_detail .relish_detail .detail_list{ float:left; width:135px; float:left; padding-left:6px;}
.relish_tj_list .show_detail .relish_detail .detail_list ul{ list-style:none; padding-top:7px;}
.relish_tj_list .show_detail .relish_detail .detail_list ul li{ padding-bottom:3px;}
.relish_tj_list .show_detail .relish_detail .detail_list .lowlight{ color:#4d4d4d;}
.relish_tj_list .show_detail .relish_detail .detail_list .dianping_shoucang{ color:#3569d4;}
.relish_tj_list .show_detail .relish_detail .detail_list .dianping_shoucang a{ color:#ff6600; font-size:12px; }
.relish_tj_list .show_detail .relish_base{ display:none;}
.relish_tj_list .show_detail .relish_detail{ display:block;}

/* 地图框 */
.map_box{ width:268px; height:268px; border:1px solid #c6c6c6;}
.map_box .map_cover{ width:271px; height:271px; background-image:url(../images/map_cover_bg.png); top:0px; left:0px; position:absolute; display:none;}

.module_box .notice{ line-height:18px; font-size:13px; padding:5px;}
.module_box .notice a{ color:#ff6600;}
.module_box .news_list{ padding:3px 0px;}
.module_box .news_list ul{ list-style:none;}
.module_box .news_list ul li{ padding:3px 5px; background-image:url(../images/split_line.png); background-position:bottom; background-repeat:repeat-x;}
.module_box .news_list ul li span{ float:right; color:#666; font-size:12px;}
.module_box .news_list ul li a:hover{ color:#ff6600; text-decoration:none;}
.module_box .news_list ul li img{ margin-right:5px;}
.module_box .news_list ul li:hover{ background-color:#ff6600; color:#fff !important;}
.module_box .news_list ul li:hover span{ color:#fff;}
.module_box .news_list ul li:hover a{ color:#fff;}
.module_box .news_list ul li:hover a:hover{ color:#fff;}

.module_box .yh_list{ padding:0px 5px;}
.module_box .youhuiquan{ border-bottom:1px solid #EEE; padding-bottom:8px; margin-top:10px;   background:#fff;}
.module_box .youhuiquan:hover{position:relative;}
.module_box .youhuiquan .yhq_img{ padding:3px; height:68px; width:68px; border:1px solid #dedede; float:left; text-align:center;}
.module_box .youhuiquan .yhq_img img{ max-width:68px; max-height:68px;}
.module_box .youhuiquan .yhq_detail{ width:150px; float:left; padding-left:10px; color:#999; padding-top:5px;}
.module_box .youhuiquan .yhq_detail p{ padding-bottom:2px;}
.module_box .yh_list .yh_info{ border:2px solid #ff6600; padding:8px; position:absolute; top:-2px; left:-2px; background:#fff; display:none;}
.module_box .youhuiquan:hover .yh_info{ display:block;}


.module_box .yh_list ul{ list-style:none;}
.module_box .yh_list ul li{ padding:3px 5px; background-image:url(../images/split_line.png); background-position:bottom; background-repeat:repeat-x;}
.module_box .yh_list ul li span{ float:right; color:#666; font-size:12px;}
.module_box .yh_list ul li a:hover{ color:#ff6600; text-decoration:none;}
.module_box .yh_list ul li img{ margin-right:5px;}
.module_box .yh_list ul li:hover{ background-color:#ff6600; color:#fff !important;}
.module_box .yh_list ul li:hover span{ color:#fff;}
.module_box .yh_list ul li:hover a{ color:#fff;}
.module_box .yh_list ul li:hover a:hover{ color:#fff;}

.module_box .visitor_list{ padding:5px;}
.module_box .visitor{ float:left; margin:5px; cursor:pointer;}
.module_box .visitor .visitor_head{ padding:3px; height:68px; width:68px; border:1px solid #dedede;}
.module_box .visitor:hover .visitor_head{ border:1px solid #ff6600;}
.module_box .visitor .visitor_head img{ max-width:68px; max-height:68px;}
.module_box .visitor .visitor_name{ padding-top:5px; text-align:center;}
.module_box .visitor:hover .visitor_name a{ color:#ff6600;}

.module_box .photo_list{ padding:5px;}
.module_box .photo{ float:left; margin:5px; cursor:pointer;}
.module_box .photo .photo_img{ padding:3px; height:68px; width:68px; border:1px solid #dedede;}
.module_box .photo:hover .photo_img{ border:1px solid #ff6600;}
.module_box .photo .photo_img img{ max-width:68px; max-height:68px;}
.module_box .photo .photo_uploader{ padding-top:5px; text-align:center;}
.module_box .photo:hover .photo_uploader a{ color:#ff6600;}

.store_name_show_on_map{ padding:3px; font-size:13px; color:#ff6600; background:#fff; border:1px solid #ccc; position:absolute; white-space:nowrap;}

