@charset "utf-8";
/* CSS Document */
.news_info{ padding:10px 20px 20px 20px; padding-left:15px; border-top:1px solid #f3f3f3; min-height:400px;  color:#2b2b2b;}
.news_info .news_title{ padding-top:10px; padding-bottom:7px; text-align:center;}
.news_info .news_detail{ font-size:12px; text-align:center; color:#666;}
.news_info .news_content{ padding-top:10px; font-size:14px; line-height:23px;}

.module_box .notice{ line-height:18px; font-size:13px; padding:5px;}
.module_box .notice a{ color:#ff6600;}
.module_box .news_list{ padding:3px 0px;}
.module_box .news_list ul{ list-style:none;}
.module_box .news_list ul li{ padding:3px 5px; background-image:url(../images/split_line.png); background-position:bottom; background-repeat:repeat-x;}
.module_box .news_list ul li span{ float:right; color:#666; font-size:12px;}
.module_box .news_list ul li a:hover{ color:#ff6600; text-decoration:none;}
.module_box .news_list ul li img{ margin-right:5px;}
.module_box .news_list ul li:hover{ background-color:#ff6600; color:#fff !important;}
.module_box .news_list ul li:hover span{ color:#fff;}
.module_box .news_list ul li:hover a{ color:#fff;}
.module_box .news_list ul li:hover a:hover{ color:#fff;}