@charset "utf-8";
/* CSS Document */
.news_list{ padding:10px 20px 20px 20px; padding-left:15px; border:1px solid #f3f3f3; min-height:400px;}
.news_list ul{}
.news_list ul li{ padding:7px 5px;}
.news_list ul li img{ vertical-align:middle; margin-right:5px;}
.news_list ul li:hover{ background-color:#ff6600 !important; color:#fff !important;}
.news_list ul li:hover .content_time{ color:#fff;}
.news_list ul li .content_time{ float:right; color:#999;}
.news_list ul li:hover a{ color:#fff; text-decoration:none;}
.news_list ul li.even{background:#f4fcfe;}

.module_box .notice{ line-height:18px; font-size:13px; padding:5px;}
.module_box .notice a{ color:#ff6600;}
.module_box .news_list_module{ padding:3px 0px;}
.module_box .news_list_module ul{ list-style:none;}
.module_box .news_list_module ul li{ padding:3px 5px; background-image:url(../images/split_line.png); background-position:bottom; background-repeat:repeat-x;}
.module_box .news_list_module ul li span{ float:right; color:#666; font-size:12px;}
.module_box .news_list_module ul li a:hover{ color:#ff6600; text-decoration:none;}
.module_box .news_list_module ul li img{ margin-right:5px;}
.module_box .news_list_module ul li:hover{ background-color:#ff6600; color:#fff !important;}
.module_box .news_list_module ul li:hover span{ color:#fff;}
.module_box .news_list_module ul li:hover a{ color:#fff;}
.module_box .news_list_module ul li:hover a:hover{ color:#fff;}