@charset "utf-8";
/* CSS Document */
.photo_list{ padding:10px 20px 20px 20px; padding-left:15px; border-top:1px solid #f3f3f3;}
.photo_list .photo{ margin:8px; float:left;}
.photo_list .photo_img{ border:1px solid #ddd; padding:3px; background:#fff; width:100px; height:100px; float:left;}
.photo_list .photo_img img{ max-height:100px; max-width:100px; vertical-align:middle; }