@charset "utf-8";
/* CSS Document */
.promotion_list{ border-top:1px solid #f3f3f3; color:#666;}
.promotion_list .promotion{ border:1px dashed #e8e8e8; padding:15px; margin:5px 0px; position:relative;}
.promotion_list .promotion ul { width:300px; float:left;}
.promotion_list .promotion ul li{ line-height:20px; height:20px; width:300px; padding-left:20px;}
.promotion_list .promotion ul li.promotion_name{ font-size:14px; font-weight:bold;}
.promotion_list .promotion ul li .detail_title{ color:#999;}
.promotion_list .promotion:hover{ background-color:#f4fcfe;}
.promotion_list .promotion .coupon_tag{ position:absolute; top:0px; left:0px; width:60px; height:60px;}
.promotion_list .promotion .coupon_tag img{ width:60px; height:60px;}

.promotion_list .promotion .promotion_img{ border:1px solid #ddd; padding:3px; background:#fff; width:90px; height:90px; float:left; background:#fff; float:left;}
.promotion_list .promotion .promotion_img img{ max-height:90px; max-width:90px; vertical-align:middle; }
.promotion_list .promotion .promotion_img_show{ padding:5px; border:1px solid #ddd; display:none;}
.promotion_list .promotion .to_printer{ position:absolute; right:10px; bottom:10px;}
.promotion_img_show img{ max-height:200px; max-width:200px; }

.module_box .yh_list{ padding:0px 5px;}
.module_box .youhuiquan{ border-bottom:1px solid #EEE; padding-bottom:8px; margin-top:10px;   background:#fff;}
.module_box .youhuiquan:hover{position:relative;}
.module_box .youhuiquan .yhq_img{ padding:3px; height:68px; width:68px; border:1px solid #dedede; float:left; text-align:center;}
.module_box .youhuiquan .yhq_img img{ max-width:68px; max-height:68px;}
.module_box .youhuiquan .yhq_detail{ width:150px; float:left; padding-left:10px; color:#999; padding-top:5px;}
.module_box .youhuiquan .yhq_detail p{ padding-bottom:2px;}
.module_box .yh_list .yh_info{ border:2px solid #ff6600; padding:8px; position:absolute; top:-2px; left:-2px; background:#fff; display:none;}
.module_box .youhuiquan:hover .yh_info{ display:block;}


.module_box .yh_list ul{ list-style:none;}
.module_box .yh_list ul li{ padding:3px 5px; background-image:url(../images/split_line.png); background-position:bottom; background-repeat:repeat-x;}
.module_box .yh_list ul li span{ float:right; color:#666; font-size:12px;}
.module_box .yh_list ul li a:hover{ color:#ff6600; text-decoration:none;}
.module_box .yh_list ul li img{ margin-right:5px;}
.module_box .yh_list ul li:hover{ background-color:#ff6600; color:#fff !important;}
.module_box .yh_list ul li:hover span{ color:#fff;}
.module_box .yh_list ul li:hover a{ color:#fff;}
.module_box .yh_list ul li:hover a:hover{ color:#fff;}