@charset "utf-8";
/* CSS Document */
.promotion_info{ border-top:1px solid #f3f3f3; color:#2b2b2b;}
.promotion_info .promotion_title{ padding-top:20px; padding-bottom:10px; text-align:center;}
.promotion_info .promotion_time{ color:#666; text-align:center; font-size:12px; padding-bottom:10px;}
.promotion_info .coupon_img{ border:1px solid #e1e1e1; padding:10px; text-align:center; width:550px; margin:auto;}
.promotion_info .coupon_img img{ max-width:550px;}
.promotion_info .promotion_detail{ padding:10px; border:1px dashed #e1e1e1;}
.promotion_info .promotion_detail ul li{ line-height:23px; min-height:23px; }
.promotion_info_introduction{ padding:5px; line-height:23px; font-size:14px;}
.promotion_info .promotion_img{width:550px; }
.promotion_info .promotion_img img{ max-width:550px;}

.module_box .yh_list{ padding:0px 5px;}
.module_box .youhuiquan{ border-bottom:1px solid #EEE; padding-bottom:8px; margin-top:10px;   background:#fff;}
.module_box .youhuiquan:hover{position:relative;}
.module_box .youhuiquan .yhq_img{ padding:3px; height:68px; width:68px; border:1px solid #dedede; float:left; text-align:center;}
.module_box .youhuiquan .yhq_img img{ max-width:68px; max-height:68px;}
.module_box .youhuiquan .yhq_detail{ width:150px; float:left; padding-left:10px; color:#999; padding-top:5px;}
.module_box .youhuiquan .yhq_detail p{ padding-bottom:2px;}
.module_box .yh_list .yh_info{ border:2px solid #ff6600; padding:8px; position:absolute; top:-2px; left:-2px; background:#fff; display:none;}
.module_box .youhuiquan:hover .yh_info{ display:block;}


.module_box .yh_list ul{ list-style:none;}
.module_box .yh_list ul li{ padding:3px 5px; background-image:url(../images/split_line.png); background-position:bottom; background-repeat:repeat-x;}
.module_box .yh_list ul li span{ float:right; color:#666; font-size:12px;}
.module_box .yh_list ul li a:hover{ color:#ff6600; text-decoration:none;}
.module_box .yh_list ul li img{ margin-right:5px;}
.module_box .yh_list ul li:hover{ background-color:#ff6600; color:#fff !important;}
.module_box .yh_list ul li:hover span{ color:#fff;}
.module_box .yh_list ul li:hover a{ color:#fff;}
.module_box .yh_list ul li:hover a:hover{ color:#fff;}