@charset "utf-8";
/* CSS Document */

.relish_right_list { padding:0px 5px;}
.relish_right_list  .relish{ padding:7px 0; background:url(../images/split_line.png) repeat-x bottom; margin:0 auto;}
.relish_right_list  .relish:hover{ background-color:#fff8f0;}
.relish_right_list  .relish .relish_img{ float:left; }
.relish_right_list  .relish .relish_img{ border:1px solid #ddd; padding:3px; background:#fff; width:80px; height:80px;}
.relish_right_list  .relish .relish_img img{ max-height:80px; max-width:80px; vertical-align:middle; }
.relish_right_list  .relish .detail_list{ float:left; width:135px; float:left; padding-left:13px;}
.relish_right_list  .relish .detail_list ul{ list-style:none; padding-top:7px;}
.relish_right_list  .relish .detail_list ul li{ padding-bottom:3px;}
.relish_right_list  .relish .detail_list .lowlight{ color:#4d4d4d;}
.relish_right_list  .relish .detail_list .dianping_shoucang{ color:#3569d4;}
.relish_right_list  .relish .detail_list .dianping_shoucang a{ color:#ff6600; font-size:12px; }

.module_title{ margin-top:0px; !important;}

.relish_info{color:#333; padding:20px; border:1px solid #f3f3f3; margin-bottom:10px;}
.relish_info .relish_img{ border:1px solid #ddd; padding:3px; background:#fff; width:180px; height:180px; float:left;}
.relish_info .relish_img img{ max-height:180px; max-width:180px; vertical-align:middle; }
.relish_info .relish_detail{ padding-left:20px; float:left; width:350px; float:left;}
.relish_info .relish_detail_1{ float:right; padding-right:10px;}
.relish_info .relish_detail li{ line-height:23px;}
.relish_info .relish_name{ font-weight:bold; font-size:14px; font-size:14px; font-weight:bold; color:#3569d4;}
.relish_info .relish_detail .detail_title{ color:#666;}

.relish_info .score_field_warpper{  border:2px solid #f7d2b6; padding:2px 3px; margin-left:3px; display:inline-block;  height:12px; vertical-align:middle;}
.relish_info .scored_relish{ color:#333;}
.relish_info .relish_introduction{ line-height:22px; font-size:14px; color:#333; padding-bottom:10px; padding-top:20px;}
.relish_info .introduciton_title{ padding:2px 0px; margin-top:10px;}

.photo_list{ padding:20px; padding-left:15px;}
.photo_list .photo{ margin:8px; float:left;}
.photo_list .photo_img{ border:1px solid #ddd; padding:3px; background:#fff; width:100px; height:100px; float:left;}
.photo_list .photo_img img{ max-height:100px; max-width:100px; vertical-align:middle; }
