@charset "utf-8";
/* CSS Document */
.relish_list{ border-top:1px solid #f3f3f3;}
.relish_list .relish{ padding:20px 10px; background-image:url(../images/split_line.png); background-position:bottom; background-repeat:repeat-x; color:#666666;}
.relish_list .relish .relish_img{ border:1px solid #ddd; padding:3px; background:#fff; width:80px; height:80px; float:left;}
.relish_list .relish .relish_img img{ max-height:80px; max-width:80px; vertical-align:middle; }
.relish_list .relish .relish_detail{ padding-left:10px; float:left; width:350px; float:left;}
.relish_list .relish .relish_detail_1{ float:right; padding-right:10px;}
.relish_list .relish .relish_detail li{ line-height:23px;}
.relish_list .relish .relish_name{ font-weight:bold; font-size:14px;}
.relish_list .relish .relish_detail_1 li{ line-height:22px;}
.relish_list .relish:hover{ background-color:#f4fcfe;}
.relish_list .even{background-color:#f8feff;}

.relish_right_list { padding:0px 5px;}
.relish_right_list  .relish{ padding:7px 0; background:url(../images/split_line.png) repeat-x bottom; margin:0 auto;}
.relish_right_list  .relish:hover{ background-color:#fff8f0;}
.relish_right_list  .relish .relish_img{ float:left; }
.relish_right_list  .relish .relish_img{ border:1px solid #ddd; padding:3px; background:#fff; width:80px; height:80px;}
.relish_right_list  .relish .relish_img img{ max-height:80px; max-width:80px; vertical-align:middle; }
.relish_right_list  .relish .detail_list{ float:left; width:135px; float:left; padding-left:13px;}
.relish_right_list  .relish .detail_list ul{ list-style:none; padding-top:7px;}
.relish_right_list  .relish .detail_list ul li{ padding-bottom:3px;}
.relish_right_list  .relish .detail_list .lowlight{ color:#4d4d4d;}
.relish_right_list  .relish .detail_list .dianping_shoucang{ color:#3569d4;}
.relish_right_list  .relish .detail_list .dianping_shoucang a{ color:#ff6600; font-size:12px; }

.module_title{ margin-top:0px; !important;}