@charset "utf-8";
/* CSS Document */
.setmeal_list{ border-top:1px solid #f3f3f3;}
.setmeal_list .setmeal{ padding:20px 10px; background-image:url(../images/split_line.png); background-position:bottom; background-repeat:repeat-x; color:#666666;}
.setmeal_list .setmeal .setmeal_img{ border:1px solid #ddd; padding:3px; background:#fff; width:80px; height:80px; float:left;}
.setmeal_list .setmeal .setmeal_img img{ max-height:80px; max-width:80px; vertical-align:middle; }
.setmeal_list .setmeal .setmeal_detail{ padding-left:10px; float:left; width:350px; float:left;}
.setmeal_list .setmeal .setmeal_detail_1{ float:right; padding-right:10px;}
.setmeal_list .setmeal .setmeal_detail li{ line-height:23px;}
.setmeal_list .setmeal .setmeal_name{ font-weight:bold; font-size:14px;}
.setmeal_list .setmeal .setmeal_detail_1 li{ line-height:22px;}
.setmeal_list .setmeal:hover{ background-color:#f4fcfe;}
.setmeal_list .even{background-color:#f8feff;}
.setmeal_list .setmeal_relish_list{ padding:0 10px; width:500px; margin-top:5px; float:left; padding-left:95px;}
.setmeal_relish_list a{ display:inline-block; height:18px; line-height:18px; padding:0 5px; text-decoration:none;}
.setmeal_relish_list a:hover{ background:#ff6600; color:#fff;}

.setmeal_right_list { padding:0px 5px;}
.setmeal_right_list  .setmeal{ padding:7px 0; background:url(../images/split_line.png) repeat-x bottom; margin:0 auto;}
.setmeal_right_list  .setmeal:hover{ background-color:#fff8f0;}
.setmeal_right_list  .setmeal .setmeal_img{ float:left; }
.setmeal_right_list  .setmeal .setmeal_img{ border:1px solid #ddd; padding:3px; background:#fff; width:80px; height:80px;}
.setmeal_right_list  .setmeal .setmeal_img img{ max-height:80px; max-width:80px; vertical-align:middle; }
.setmeal_right_list  .setmeal .detail_list{ float:left; width:135px; float:left; padding-left:13px;}
.setmeal_right_list  .setmeal .detail_list ul{ list-style:none; padding-top:7px;}
.setmeal_right_list  .setmeal .detail_list ul li{ padding-bottom:3px;}
.setmeal_right_list  .setmeal .detail_list .lowlight{ color:#4d4d4d;}
.setmeal_right_list  .setmeal .detail_list .dianping_shoucang{ color:#3569d4;}
.setmeal_right_list  .setmeal .detail_list .dianping_shoucang a{ color:#ff6600; font-size:12px; }



.module_title{ margin-top:0px; !important;}