@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px;}
body{ font-size:13px; color:#111; font-family:sans-serif;}
a{ color:#3569d4; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:underline;}
img{ border:none; vertical-align:middle;}
ul{ list-style:none;}

/* 公用样式 */
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.lowlight_tip{ color:#999;}
.highlight{ color:#ff6600;}
.highlight1{ color:#3569d4;}
.split_line_dotted{ background:url(../images/split_line.png) repeat-x; line-height:1px; height:1px; margin:20px 0px;}
.split_line{ height:1px !important; line-height:1px !important; background:#e5e5e5 !important; border:none !important; border-bottom:1px solid #fff !important; margin:5px 0px !important;}


/* 页面头 顶部 header */
.header{ width:950px; margin:0px auto; padding:0px 2px; height:80px; position:relative; margin-bottom:10px; z-index:1000;}
.header .logo{ position:absolute; top:1px; left:10px;}
.header .user_nav{ height:22px; line-height:22px; position:absolute; top:6px; right:5px; width:600px; color:#fff;font-family:Verdana, Geneva, sans-serif; font-size:9px; color:#999; text-align:right;}
.header .user_nav a{ color:#3f3f3f; font-size:13px; display:inline-block; padding:0px 3px;}
.header .user_nav a:hover{ color:#ff6600;}
.header .store_nav{ position:absolute; bottom:5px; height:36px; width:950px; background:url(../images/store_nav_bg.png)}
.header .store_nav .store_name{ font-size:20px; font-family:"黑体";  color:#fff; position:absolute; left:10px; top:9px;}
.header .store_nav .store_name a{ color:#fff !important; text-decoration:none !important;}
.header .store_nav .store_name span{ font-size:12px; font-weight:normal; font-family:"宋体";}
.header .store_nav .store_nav_list{ position:absolute; top:6px; left:222px;}
/* 店铺导航 */
.header .store_nav .store_nav_list a{display:inline-block; height:22px; line-height:22px; margin-left:10px; color:#fff; font-size:14px; text-decoration:none !important; margin:0px 15px; position:relative;}
.header .store_nav .store_nav_list a span{ height:22px; line-height:22px; display:inline-block; float:left; cursor:pointer;}
.header .store_nav .store_nav_list a span.center{ padding:0 5px;}
.header .store_nav .store_nav_list a span.left{ width:3px;}
.header .store_nav .store_nav_list a span.right{ width:3px;}

.header .store_nav .store_nav_list a.selected{ color:#ff6600;}
.header .store_nav .store_nav_list a.selected span{ background-image:url(../images/store_nav_a_bg.png) !important; }
.header .store_nav .store_nav_list a.selected span.center{background-position:0 -46px !important;}
.header .store_nav .store_nav_list a.selected span.right{ background-position:0 -23px !important;}
.header .store_nav .store_nav_list a.selected span.left{ background-position:0 0px !important;}

.header .store_nav .store_nav_list a:hover span{ background-image:url(../images/store_nav_a_bg.png); }
.header .store_nav .store_nav_list a:hover span.center{background-position:0 -115px;}
.header .store_nav .store_nav_list a:hover span.left{ background-position:0 -69px;}
.header .store_nav .store_nav_list a:hover span.right{ background-position:0 -92px;}

.header .store_nav .store_nav_list a.selected span.pointer{ background-position:0 -138px; width:6px; height:3px; position:absolute; bottom:-3px; left:50%; margin-left:-3px;}

/* 更多详情 */
.store_more_info{  width:450px; border:2px solid #dd6713; z-index:200px; position:absolute; left:5px; top:80px; color:#474747; display:none;}
.store_more_info .store_more_info_show{background:#fff; position:relative; padding:10px; }
.store_more_info .store_more_info_bg{ width:100%; height:100%; position:absolute; top:7px; left:7px; background:#000; filter:alpha(opacity=20);  -moz-opacity:0.2;  opacity: 0.2;}
.store_more_info .store_more_info_close{ position:absolute; width:10px; height:10px; color:#ff6600; font-weight:bold; top:2px; right:2px; text-align:center; line-height:10px; cursor:pointer; background:url(../../images/close_orange.png) no-repeat center;}
.store_more_info .store_more_info_show .title{ font-size:14px; font-weight:bold; padding-bottom:5px; border-bottom:1px solid #e1e1e1;}
.store_more_info .store_more_info_show ul{ list-style:none; padding:5px 0px;}
.store_more_info .store_more_info_show ul li{ padding:2px 0px; line-height:18px; min-height:18px;}
.store_more_info .store_more_info_show ul li .info_title{ width:70px; font-weight:bold; float:left;}
.store_more_info .store_more_info_show ul li .info_show{ width:360px; float:left;}

/* main */
.main{ padding-top:10px; width:950px; margin:0 auto; min-height:480px;}
.main .main_left{ width:657px; float:left;}
.main .main_right{ width:283px; float:left; padding-left:10px;}

.module_title{ height:26px; background:url(../images/module_title_bg.png); line-height:26px; width:654px; margin-top:20px;}
.module_title .title_left{ background:url(../images/module_title_light_bg.png); width:15px; height:26px; display:block; float:left;}
.module_title .title_txt{background:url(../images/module_title_light_bg.png) right; height:26px; display:block; float:left; color:#fff; font-weight:bold; padding-right:25px;}
.module_title span{ font-weight:normal;}
.module_title .more{ float:right; padding-right:5px;}
.module_title_bottom{ background:#fff4e2;   padding:3px 10px; font-size:12px;}
.module_title_bottom a{ color:#ff6600; font-size:12px; height:16px; line-height:16px; display:inline-block; padding:0px 5px;}
.module_title_bottom a.selected{ background:#ff6600; color:#fff;}
.module_show{ padding:10px 5px;}

.module_big_box{ width:654px; }
.module_big_box_title{height:26px; background:url(../images/module_box_title_bg.png); line-height:26px; padding:0 10px;}
.module_big_box_body{ border:1px solid #c7c6c6; padding:5px; border-top:none;}


.impression_show{ padding:10px 0px; font-family:"黑体";}
.impression_show span{ display:inline-block; margin:5px;}
.impression_show .level1{ color:#ef431f; font-size:24px;}
.impression_show .level2{ color:#2da9cf; font-size:20px;}
.impression_show .level3{ color:#339900; font-size:16px;}
.impression_show .level4{ color:#ff6600; font-size:14px;}
.impression_show .level5{ color:#3569d4; font-size:12px;}

.module_box{ width:282px; margin-bottom:10px;}
.module_box .module_box_top{ height:26px; background:url(../images/module_box_top_bg.png); line-height:26px;}
.module_box .module_box_top ul{ padding-top:3px;}
.module_box .module_box_top ul li{ height:20px; line-height:20px; margin-left:3px; float:left; cursor:pointer;color:#ff6600;}
.module_box .module_box_top ul li span{ height:20px; display:inline-block; background-image:url(../images/module_title_menu_bg.png); background-repeat:no-repeat; background-position:0px -72px; vertical-align:middle;} 
.module_box .module_box_top ul li span.module_title_left{ width:5px; background-position:0 -48px;}
.module_box .module_box_top ul li span.module_title_right{ width:5px; background-position:-55px -48px;}
.module_box .module_box_top ul li.selected{color:#fff;}
.module_box .module_box_top ul li.selected span{  background-position:0px -24px; background-image:url(../images/module_title_menu_bg.png);} 
.module_box .module_box_top ul li.selected span.module_title_left{background-position:0 0px;}
.module_box .module_box_top ul li.selected span.module_title_right{background-position:-55px 0px;}

.module_box .module_box_top .right{ float:right; color:#fff; padding-right:5px; }
.module_box .module_box_top .right a{font-weight:normal;}
.module_box .module_box_body{ border:1px solid #c6c6c6; border-top:none; padding:5px;  color:#595654;}

.split_page_list{ text-align:center;}
.split_page_list a{ display:inline-block; padding:2px;height:12px; line-height:12px; text-align:center; text-decoration:none; min-width:12px; color:#444;}
.split_page_list a:hover{ color:#fff; background:#cc6500;}
.split_page_list a.active{ color:#fff; background:#cc6500;}
.split_page_list a.disable{ color:#999;}
.split_page_list a.disable:hover{ color:#fff; background:#ccc;}


.footer{ width:950px; margin:10px auto; text-align:center;padding-top:15px; margin-top:40px; padding-bottom:30px; clear:both; color:999; font-size:12px; border-top:2px solid #c6c6c6;}
.footer p{ padding-bottom:8px; }

/* 更多详情 */
.down_select_menu{ border:1px solid #cc6500; background:#fff; position:absolute; left:50%; top:50%; font-size:12px; display:none;}
.down_select_menu a{ display:block; padding:2px 4px;}
.down_select_menu a:hover{ background:#cc6500; color:#fff; text-decoration:none;}

.a_number span{ color:#ff6600; font-size:12px;}

.middle_img{position:relative;	text-align:center; overflow:hidden;}
.middle_img a{position:static;	+position:absolute;	top:50%; vertical-align:middle; }
.middle_img a img{position:static;	+position:relative;	top:-50%;left:-50%;	vertical-align:middle;}

.nav_where{ padding:0px 5px 4px 5px; color:#999; padding-bottom:8px; height:16px; line-height:16px;}

.category_list{padding:5px;}
.category_list ul {}
.category_list ul li{}
.category_list ul li a{ display:inline-block; margin-right:20px; padding:2px 3px; margin-right:10px; margin-bottom:2px;} 
.category_list ul li.first{ border-top:none;}
.category_list ul li a:hover{ background-color:#ff6600; color:#fff; text-decoration:none;}
.category_list ul li a.current{ background-color:#ff6600; color:#fff; text-decoration:none;}
.order_menu a{ color:#2754bb;}
.order_menu a:hover{ color:#ff6600;}

.no_result{ border:1px solid #f2f2bc; color:#333; font-weight:bold; font-size:14px; padding:40px 100px; margin-top:10px; background:#ffffe1;}