<div class="header">
	<div class="logo"><a href="#"><img src="/static/images/logo.png"  /></a></div>
    <div class="user_h_n_list"><a href="">首页</a>  | <a href="/member/logout">退出</a> </div>
</div>
<div class="nav_bar">
	<div class="nav_list">
    	<a href="/manage/store/claimList" class="selected">管理中心<span></span></a>
  </div>
</div>