<#if centerRightMenu.name="store">
<a href="/manage/admin/store/manage" <#if centerRightMenu.selected=="manage">class="selected"</#if>>管理店铺<span></span><label></label></a>
<a href="/manage/admin/store/storeList" <#if centerRightMenu.selected=="storeList">class="selected"</#if>>店铺审核<span></span><label></label></a>
<a href="/manage/admin/store/claimList" <#if centerRightMenu.selected=="claimStore">class="selected"</#if>>认领审核<span></span><label></label></a> 
<a href="#" <#if centerRightMenu.selected=="storeInfo">class="selected"</#if>>店铺查看<span></span><label></label></a> 
</#if>
<#if centerRightMenu.name="user">
<a href="/manage/admin/member/findUser" <#if centerRightMenu.selected=="findUser">class="selected"</#if>>查找用户<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="message">
<a href="/manage/admin/message/send.html" <#if centerRightMenu.selected=="send">class="selected"</#if>>发送消息<span></span><label></label></a>
<a href="/manage/admin/message/list?receiverType=3" <#if centerRightMenu.selected=="broadcast">class="selected"</#if>>广播消息管理<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="search">
<a href="/manage/admin/search/app/list" <#if centerRightMenu.selected=="appList">class="selected"</#if>>审核关键字<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="comment">
<a href="/manage/admin/comment/list" <#if centerRightMenu.selected=="list">class="selected"</#if>>点评管理<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="admin">
<a href="/manage/admin/" <#if centerRightMenu.selected=="index">class="selected"</#if>>管理员首页<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="photo">
<a href="/manage/admin/photo/list" <#if centerRightMenu.selected=="list">class="selected"</#if>>上传图片管理<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="relish">
<a href="#" <#if centerRightMenu.selected=="list">class="selected"</#if>>美味审核<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="pageModule">
<a href="#"class="selected">页面模块数据<span></span><label></label></a>
</#if>
<#if centerRightMenu.name="promotionVas">
<a href="#" <#if centerRightMenu.selected=="list">class="selected"</#if>>推广服务<span></span><label></label></a>
<a href="#" <#if centerRightMenu.selected=="add">class="selected"</#if>>添加推广<span></span><label></label></a>
</#if>
