<link href="/static/css/common_style.css" rel="stylesheet" type="text/css" />
<link href="/static/manage/css/manage_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="/static/js/common_util.js"></script>
<script language="javascript" src="/static/member/js/member_common.js"></script>
<script language="javascript" src="/static/manage/admin/js/application.js"></script>