<div class="main_left">
    	<div class="user_show clearfix">
        	<div class="user_head"><img src="http://ucenter.ctospace.com/avatar.php?uid=${Session.userId}&size=middle" /></div>
            <div class="user_info">
            	<p>${Session.account!''}</p>
            </div>
        </div>
    	<div class="menu_box clearfix">
      <div class="menu_title">店铺管理</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/admin/store/storeList">店铺审核</a></li>
                    <li><a href="/manage/admin/store/claimList">认领审核</a></li>
                    <li><a href="/manage/admin/store/manage">管理店铺</a></li>
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
      <div class="menu_title">推广服务</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/admin/vas/promotion/list">推广管理</a></li>
                    <li><a href="/manage/admin/vas/promotion/add.html">推广添加</a></li>
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">用户管理</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/admin/member/findUser">查找用户</a></li>
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">站内消息</div>
            <div class="menu_list">
            	<ul>
                	<li><a href="/manage/admin/message/send.html">发送消息</a></li>
                    <li><a href="/manage/admin/message/list?receiverType=3">广播消息管理</a></li>
            	</ul>
            </div>
        </div>
         <div class="menu_box clearfix">
        	<div class="menu_title">搜索管理</div>
            <div class="menu_list">
            	<ul>
               	    <li><a href="/manage/admin/search/app/list">关键字审核</a></li>
            	</ul>
            </div>
        </div>
        <div class="menu_box clearfix">
        	<div class="menu_title">其他管理</div>
            <div class="menu_list">
            	<ul>
               	    <li><a href="/manage/admin/comment/list">点评管理</a></li>
                    <li><a href="/manage/admin/photo/list">图片管理</a></li>
            	</ul>
            </div>
        </div>
    </div>