@charset "utf-8";
/* CSS Document */

.main_left{ width:640px; padding-right:15px; float:left;}
.quick_nav{ background-color:#fff0e0; padding:10px; z-index:0; position:relative;}
.quick_nav .quick_nav_show{ padding:4px;}
.quick_nav .quick_nav_show:hover{ background:#fff0e0;}
.quick_nav_title{ font-weight:bold; color:#444; padding-bottom:5px; }

.quick_nav_list{ padding:0px 0px 0px 15px;}
.quick_nav_list li{ height:18px; line-height:18px; width:80px; float:left; margin-bottom:2px;}
.quick_nav_list li a{ height:18px; line-height:18px; padding:0px 2px; display:inline-block; text-decoration:none;}
.quick_nav_list li a:hover{ color:#fff; background:#ff6600;}
.quick_nav_box{background:#fff; padding:10px; border:1px solid #f9d9c1; position:relative;}

.main_bg{ background:url(../images/index_body_bg.png) repeat-x; margin-top:20px; }
.main_left .module_list{ padding-top:15px;}
.main_left .module_list .module{width:292px; float:left;}
.main_left ._module{ border:1px solid #f9d9c1;}
.main_left ._module .module_title{ background:#f88e33; color:#444; height:30px; line-height:30px; padding:0 5px; background-image:url(../images/index_module_title_bg.png); border-bottom:1px solid #dcdcdc;}
.main_left .module .module_title a{ color:#444;}
.module .module_title ul{}
.module .module_title ul li{ height:26px; line-height:26px; padding:0 5px; display:block; float:left; margin-right:2px; cursor:pointer; font-weight:normal;}
.module .module_title ul li.selected{ height:25px; line-height:25px; background:#fff; border:1px solid #f9d9c1; border-bottom:1px solid #fff; position:relative; bottom:-1px; font-weight:bold;font-weight:bold; color:#444;}


.module .rank_list{ padding:5px;}
.module .rank_list li{ height:26px; line-height:26px; padding:0 5px; border-top:1px dashed #ddd;}
.module .rank_list li.first{ border-top:none;}
.module .rank_list li a{ padding:0 3px; text-decoration:none;}
.module .rank_list li a:hover{ color:#fff; background-color:#ff6600; }
.module .rank_list li:hover{ background:#fff0e0;}
.module .rank_list .rank_list_head{ padding-left:26px; padding-right:5px;  color:#777;}
.module .rank_list .rank_list_head .right{ float:right;}
.module .rank_list .detail{ float:right; color:#666;}

.main_right{ width:295px; float:left;}
.module{ margin-bottom:15px; background-color:#fff0e0;padding:10px;  background-repeat:repeat-x; position:relative;}
.module .module_title{ font-weight:bold;  color:#444; height:20px; line-height:20px; padding:0 5px; position:relative; top:-3px; left:-3px;}
.module .module_body{  background:#fefefe; border:1px solid #f9d9c1; position:relative;}
.outer_l_t_c,.outer_l_b_c,.outer_r_t_c,.outer_r_b_c{ background-image:url(../images/module_corner.png); width:4px; height:4px; position:absolute; display:block;}
.outer_l_t_c{ top:0px; left:0px;}
.outer_l_b_c{ bottom:0px; left:0px; background-position:0 -5px;}
.outer_r_t_c{ top:0px; right:0px; background-position:-5px 0;}
.outer_r_b_c{ bottom:0px; right:0px; background-position:-5px -5px;}
.inner_l_t_c,.inner_l_b_c,.inner_r_t_c,.inner_r_b_c{ background-image:url(../images/module_corner.png); width:3px; height:3px; position:absolute; display:block;}
.inner_l_t_c{ top:-1px; left:-1px; background-position:0px -10px;}
.inner_l_b_c{ bottom:-1px; left:-1px; background-position:0px -14px;}
.inner_r_t_c{ top:-1px; right:-1px; background-position:-4px -10px;}
.inner_r_b_c{ bottom:-1px; right:-1px; background-position:-4px -14px;}

.main_right .module .rank_list{ padding:5px;}
.main_right .module .rank_list li{ height:22px; line-height:22px; padding:0 3px; }
.main_right .module .rank_list li a{ padding:0 3px; text-decoration:none;}
.main_right .module .rank_list li a:hover{ color:#fff; background-color:#ff6600; }
.main_right .module .rank_list li:hover{ background:#fff0e0;}
.main_right .module .rank_list .rank_list_head{ border-bottom:1px dashed #eee; height:18px; line-height:18px; padding-left:26px; padding-right:5px;  color:#777; margin-bottom:3px;}
.main_right .module .rank_list .rank_list_head .right{ float:right;}

.join_reason_list{ padding:5px;}
.join_reason_list li{ height:26px !important; line-height:26px !important; padding:0 5px; border-bottom:1px dashed #ddd;}
.join_reason_list li a{ padding:0 3px; text-decoration:none;}
.join_reason_list li a:hover{ color:#fff; background-color:#ff6600; }
.join_reason_list li:hover{ background:#fff0e0;}
.join_reason_list .rank_list_head{ border-bottom:1px dashed #eee; height:18px; line-height:18px; padding-left:26px; padding-right:5px;  color:#777; margin-bottom:3px;}

.main_right .module .news_list{ padding:5px;}
.main_right .module .news_list li{ height:22px; line-height:22px; padding:0 3px; padding-left:17px; background-image:url(../images/store_icon.png); background-repeat:no-repeat; background-position:8px 10px; }
.main_right .module .news_list li a{ padding:0 3px; text-decoration:none;}
.main_right .module .news_list li a:hover{ color:#fff; background-color:#ff6600; }
.main_right .module .news_list li:hover{ background-color:#fff0e0;}

.main_left .module_box{ padding-top:15px;}
.new_store_list{ padding:3px;}
.new_store_list .store_info{ float:left; width:88px; margin:7px;}
.new_store_list .store_info .store_img{ width:80px; height:80px; border:1px solid #ddd; padding:3px; background:#fff;}
.new_store_list .store_info .store_img img{ max-width:80px; max-height:80px;  }
.new_store_list .store_info .store_name{ line-height:25px; height:25px; text-align:center; padding-top:2px;}

.member_list{ padding:13px 8px;}
.member_list .member_info{ float:left; width:74px; margin:5px; margin-top:0px; }
.member_list .member_info .member_img{ width:68px; height:68px; border:1px solid #ddd; padding:2px; background:#fff;}
.member_list .member_info .member_img img{ max-width:68px; max-height:68px;  }
.member_list .member_info .member_name{ text-align:center; padding-top:4px; height:20px; width:74px; overflow:hidden;}

.middle_img:hover{ border:1px solid #ff6600;}
.no_border_bottom{ border-bottom:none !important;}