@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
.main{ padding-top:20px;}
.main .main_left{ width:700px; float:left;}
.search_list_bar{ height:28px; line-height:28px; border:1px solid #ccd4f7; background:#e1ebfe; padding:0 10px; background:url(../images/search_list_bar_bg.png);}

.search_list_bar .order_menu{ float:right;}
.search_list_bar .order_menu a{ display:inline-block; vertical-align:middle; padding:0 3px; line-height:13px; height:28px; line-height:28px;  color:#3569d4; text-decoration:none;}
.search_list_bar .order_menu a.selected{ height:23px; background:#fff; line-height:23px; border:1px solid #ccd4f7; border-bottom:none; position:relative; bottom:-2px;}
.search_list_bar  input{ vertical-align:middle; margin-right:2px;}

.search_filter{ padding-bottom:5px;}
.search_filter ul{}
.search_filter ul li{ height:20px; line-height:20px;}
.search_filter ul li a.selected{ font-weight:bold; color:#ff6600;}
.search_result_info{ font-weight:bold; font-size:13px; padding-bottom:10px; color:#666;}
.search_result_info .how_to_search{ font-weight:normal;}

.main .main_right{ width:240px; float:right;}
.module_right_box{ border:1px solid #ccd4f7; padding:1px; margin-bottom:10px; background:#fcfcfc;}
.module_right_box .module_title{ padding:0 5px; height:24px; line-height:24px; font-weight:bold; background:url(../images/moudle_title_bg.png);}
.module_right_box .module_body{ padding:5px; }
.module_right_box .split_line_div{ height:1px; line-height:1px; background:#ccd4f7; margin:3px 0; overflow:hidden;}
.module_right_box a{ color:#0093bb;}


.a_list a{ display:inline-block; margin:2px; height:18px; line-height:18px; padding:0 2px;}
.a_list a:hover{ background:#ff6600; color:#fff;}
.a_list a.selected{ background:#ff6600; color:#fff;}

.store_list{ padding:5px 0;}
.store_list .store{ padding:15px 5px; border-bottom:1px dashed #dedede; padding-bottom:22px;}
.store_list .store .detail_title{ color:#999;}
.store_list .store .store_name{ font-weight:bold; font-size:14px;}
.store_list .store .store_name span{ margin-right:5px;}
.store_list .store .store_img{ width:80px; height:80px; float:left; border:1px solid #ddd; padding:3px; background:#fff;}
.store_list .store .store_img img{ max-width:80px; max-height:80px;  }
.store_list .store .store_detail{ padding-left:10px; float:left; width:300px;}
.store_list .store .store_detail ul{}
.store_list .store .store_detail ul li{ line-height:20px; height:22px; }
.store_list .store .store_detail_1{ padding-right:10px; float:right; color:#999;}
.store_list .store .store_detail_1 ul{}
.store_list .store .store_detail_1 ul li{ line-height:20px; height:20px; text-align:right; width:200px; padding-bottom:5px;}
.store_list .store .store_menu{ height:20px; background:#e5f3f5; position:absolute; bottom:0px; right:0px; display:none; text-align:center; line-height:20px; width:100%;}
.store_list .store .store_menu a{ display:inline-block; margin:0 5px;}
.store_list .store:hover{ background:#f4fcfe; position:relative;}
.store_list .store_hover{ position:relative; background:#f4fcfe;}
.store_list .store_hover .store_menu{ display:block;}
.store_list .store:hover .store_menu{ display:block;}
.store_list .tuiguang{ background:#f4fcfe; border-bottom:1px solid #dedede;}

.promotion_list{ border-top:1px solid #f3f3f3; color:#666;}
.promotion_list .promotion{ border:1px dashed #e8e8e8; padding:15px; margin:5px 0px; position:relative;}
.promotion_list .promotion ul { width:300px; float:left;}
.promotion_list .promotion ul li{ line-height:20px; height:20px; float:left; width:350px; padding-left:20px;}
.promotion_list .promotion ul li.promotion_name{ font-size:14px; font-weight:bold;}
.promotion_list .promotion ul li.promotion_name span{ margin-right:5px;}
.promotion_list .promotion ul li .detail_title{ color:#999;}
.promotion_list .promotion:hover{ background-color:#f4fcfe;}
.promotion_list .promotion .coupon_tag{ position:absolute; top:0px; left:0px; width:60px; height:60px;}
.promotion_list .promotion .coupon_tag img{ width:60px; height:60px;}
.promotion_list .tuiguang{ border:1px solid #e8e8e8; background-color:#f4fcfe;}

.promotion_list .promotion .promotion_img{ border:1px solid #ddd; padding:3px; background:#fff; width:90px; height:90px; float:left; background:#fff; float:left;}
.promotion_list .promotion .promotion_img img{ max-height:90px; max-width:90px; vertical-align:middle; }
.promotion_list .promotion .promotion_img_show{ padding:5px; border:1px solid #ddd; display:none;}
.promotion_img_show img{ max-height:200px; max-width:200px; }

.promotion_list .promotion .to_printer{ position:absolute; right:10px; bottom:10px;}
