@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px;}
body{ font-size:13px; color:#333; font-family:Verdana, Geneva, sans-serif;}
a{ color:#2754bb; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:underline;}
img{ border:none; vertical-align:middle;}
ul{ list-style:none;}

/* 公用样式 */
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

.highlight{ color:#ff6600;}
.highlight1{ color:#2754bb;}

.header{ width:950px; margin:auto; position:relative; height:60px;}
.header .logo{ width:205px; position:absolute; top:5px; left:0px;}
.header .logo .region_where{ position:absolute; font-family:"黑体"; font-size:30px; color:#333; top:7px; right:0px;}
.header .header_nav_list{ text-align:right; position:absolute; top:5px; right:0px; height:13px; width:400px; color:#666;}
.header .header_nav_list a{ color:#666;}
.header .header_nav_list a:hover{ color:#ff6600; }

.nav_bar{ background:url(../images/nav_bar_bg.png); height:36px; color:#fff;}
.nav_bar a{ color:#fff;}
.nav_bar .nav_area{ width:950px; margin:auto;  position:relative; height:36px;}
.nav_bar .nav_list{ height:26px; position:absolute; left:10px; top:5px;}
.nav_bar .nav_list a{display:inline-block; height:22px; line-height:22px; color:#fff; font-size:14px; text-decoration:none !important; position:relative; vertical-align:middle; margin-top:2px; float:left;}
.nav_bar .nav_list a span{ height:22px; line-height:22px; display:inline-block; float:left; cursor:pointer;}
.nav_bar .nav_list a span.center{ padding:0 5px; text-align:center;}
.nav_bar .nav_list a span.left{ width:3px;}
.nav_bar .nav_list a span.right{ width:3px;}

.nav_bar .nav_list a.selected{ color:#ff6600;}
.nav_bar .nav_list a.selected span{ background-image:url(../images/store_nav_a_bg.png) !important; }
.nav_bar .nav_list a.selected span.center{background-position:0 -46px !important;}
.nav_bar .nav_list a.selected span.right{ background-position:0 -23px !important;}
.nav_bar .nav_list a.selected span.left{ background-position:0 0px !important;}

.nav_bar .nav_list a:hover span{ background-image:url(../images/store_nav_a_bg.png); }
.nav_bar .nav_list a:hover span.center{background-position:0 -115px;}
.nav_bar .nav_list a:hover span.left{ background-position:0 -69px;}
.nav_bar .nav_list a:hover span.right{ background-position:0 -92px;}

.nav_bar .nav_list a.selected span.pointer{ background-position:0 -138px; width:6px; height:3px; position:absolute; bottom:-3px; left:50%; margin-left:-3px;}
.nav_bar .nav_list .a_split{ width:2px; height:26px; display:inline-block; vertical-align:middle; margin:0 1px; background:url(../images/nav_split_line.png); float:left; margin:0 5px;}

.nav_bar .search_form{ position:absolute; right:5px; height:24px; line-height:24px; width:500px; padding-top:6px;}
.nav_bar .search_form .search_input_left{ width:24px; height:24px; display:inline-block; vertical-align:middle; background:url(../images/search_sign.png);}
.nav_bar .search_form .search_input{ height:22px; line-height:22px; border:1px solid #ccc; width:250px; border-left:none; vertical-align:middle; color:#333; padding-left:6px;}
.nav_bar .search_form .search_btn{ height:24px; line-height:24px; text-align:center; width:52px; background:url(../images/button_yellow.png); color:#333; font-weight:bold; font-size:14px; border:none; vertical-align:middle; cursor:pointer;}
.nav_bar .search_form .search_what{ font-size:13px; display:inline-block; height:22px; line-height:22px; border-top:1px solid #ccc;border-bottom:1px solid #ccc; background:#fff; color:#cf670f; padding-right:10px; background-image:url(../images/search_what_down.png); background-repeat:no-repeat; background-position:right center; position:relative; cursor:pointer; vertical-align:middle;}
.search_what_menu{ display:none; position:absolute; border:1px solid #fe7908; background:#fff; font-size:13px; padding:1px; width:40px; z-index:10;}
.search_what_menu a{display:block; padding:0px 2px; text-align:center;color:#cf670f; height:20px; line-height:20px;}
.search_what_menu a:hover{ background:#fe7908; color:#fff; text-decoration:none;}
.page_nav_box{ height:28px; line-height:28px; background:#f2f2f2;}
.page_nav_list{ width:950px; margin:auto;}

.store_center_menu{ display:none; position:absolute; border:1px solid #fe7908; background:#fff; font-size:13px; padding:1px; width:60px; z-index:10;}
.store_center_menu a{display:block; padding:0px 2px; text-align:center;color:#cf670f; height:20px; line-height:20px;}
.store_center_menu a:hover{ background:#fe7908; color:#fff; text-decoration:none;}


.main{ width:950px; margin:auto; padding-top:15px; min-height:500px;}

.no_result{ border:1px solid #f2f2bc; color:#333; font-weight:bold; font-size:14px; padding:40px 100px; margin-top:10px; background:#ffffe1;}

.footer{ width:950px; margin:10px auto; text-align:center;padding-top:15px; margin-top:40px; padding-bottom:30px; clear:both; color:999; font-size:12px; border-top:2px solid #c6c6c6;}
.footer p{ padding-bottom:8px; }

.split_page_list{ text-align:center;}
.split_page_list a{ display:inline-block; padding:2px;height:12px; line-height:12px; text-align:center; text-decoration:none; min-width:12px; color:#444;}
.split_page_list a:hover{ color:#fff; background:#cc6500;}
.split_page_list a.active{ color:#fff; background:#cc6500;}
.split_page_list a.disable{ color:#999;}
.split_page_list a.disable:hover{ color:#fff; background:#ccc;}

.down_select_menu{ border:1px solid #cc6500; background:#fff; position:absolute; left:50%; top:50%; font-size:12px; display:none;}
.down_select_menu a{ display:block; padding:2px 4px;}
.down_select_menu a:hover{ background:#cc6500; color:#fff; text-decoration:none;}

.search_input_tip{ color:#ccc !important;}
