<!--[if lte IE 6]>
<link href="/static/ie6/store_page/style.css" type="text/css" rel="stylesheet"/>
<![endif]-->
<!-- 定义baseurl -->
<#assign baseUrl = "">
<#if storeId?split(",")?size == 1>
    <#assign baseUrl = "/s/"+storeId>	
</#if>
<div class="header">
	<div class="logo"><a href="http://${SiteConfig.siteDomain}"><img src="/static/images/logo_s.png"/></a></div>
<div class="user_nav"><a href="http://${SiteConfig.siteDomain}" target="_parent">首页</a> <a href="http://${SiteConfig.siteDomain}/search/store" target="_parent">餐厅</a> <a href="http://${SiteConfig.siteDomain}/search/yh" target="_parent">优惠</a> <a href="http://bbs.ctospace.com" target="_parent">美食论坛</a> <a href="http://home.ctospace.com" target="_parent">美客空间</a>  <span class="split_v_line">|</span> <span class="login_panel" <#if !Session?? || !Session.userId??> style="display:none"</#if>>欢迎 <span class="highlight" id="loginAccount">${(Session!{"account":""}).account!''}</span>  <a href="http://home.ctospace.com/space.php" target="_parent">我的空间</a>  <a href="http://${SiteConfig.siteDomain}/manage/center/store/myStore" target="_parent" class="store_center_menu_handler menu_down">商户中心</a> <span class="split_v_line">|</span><a href="http://${SiteConfig.siteDomain}/member/logout" target="_parent">退出</a></span><span class="logout_panel" <#if Session?? && Session.userId??> style="display:none"</#if>><a href="http://${SiteConfig.siteDomain}/member/login.html" target="_blank">登录</a> <a href="http://${SiteConfig.siteDomain}/member/regedit.html" target="_blank">注册</a></span></div>
    <div class="store_nav">
    	<span class="store_click_times">${store.clickTimes}人气</span>
   	  <div class="store_name">${store.name!''} <span><a href="javascript:" class="stroe_more_info_handler">[详情]</a></span></div>
        <div class="store_nav_list"><a href="<#if baseUrl == "">/<#else>${baseUrl}</#if>" <#if navMenu=="index">class="selected"</#if>><span class="left"></span><span class="center">餐厅首页</span><span class="right"></span><span class="pointer"></span></a>
        <a href="${baseUrl}/yh" <#if navMenu=="promotion">class="selected"</#if>><span class="left"></span><span class="center">优惠(${promotionTotalNum!0})</span><span class="right"></span><span class="pointer"></span></a>
        <a href="${baseUrl}/relish" <#if navMenu=="relish">class="selected"</#if>><span class="left"></span><span class="center">美味(${relishTotalNum!0})</span><span class="right"></span><span class="pointer"></span></a>
        <a href="${baseUrl}/tc" <#if navMenu=="setMeal">class="selected"</#if>><span class="left"></span><span class="center">套餐(${setMealTotalNum!0})</span><span class="right"></span><span class="pointer"></span></a>
        <a href="${baseUrl}/photo" <#if navMenu=="photo">class="selected"</#if>><span class="left"></span><span class="center">图片(${photoTotalNum!0})</span><span class="right"></span><span class="pointer"></span></a>
        <a href="${baseUrl}/news" <#if navMenu=="news">class="selected"</#if>><span class="left"></span><span class="center">新闻公告(${contentTotalNum!0})</span><span class="right"></span><span class="pointer"></span></a>
        </div>
    </div>
        <div class="store_more_info clearfix">
    	<div class="store_more_info_bg"></div>
        <div class="store_more_info_show clearfix">
        	<div class="title">${store.name!''}</div>
            <ul>
            	<li><div class="info_title">主<span style="width:28px; display:inline-block;"></span>营：</div><div class="info_show"><#list store.foodType?split(" ") as ft><a href="http://${SiteConfig.siteDomain}/search/store?kw=${ft}">${ft}</a> </#list></div></li>
                <li><div class="info_title">就餐氛围：</div><div class="info_show"><#list store.diningType?split(" ") as dt><a href="http://${SiteConfig.siteDomain}/search/store?kw=${dt}">${dt}</a> </#list></div></li>
                <li><div class="info_title">人均消费：</div><div class="info_show"><#if store.perPay !=0><strong class="highlight">${store.perPay}</strong> 元</#if></div></li>
                <li><div class="info_title">营业时间：</div><div class="info_show">${store.businessTime!''}</div></li>
                <li><div class="info_title">营业电话：</div><div class="info_show">${store.telephone!''}</div></li>
                <li><div class="info_title">地<span style="width:28px; display:inline-block;"></span>址：</div><div class="info_show">${store.address!''}</div></li>
                <li><div class="info_title">交通线路：</div><div class="info_show">${store.busLine!''}</div></li>
                <li><div class="info_title">交叉路口：</div><div class="info_show">${store.intersection!''}</div></li>
                <li><div class="info_title">停车信息：</div><div class="info_show"><#if store.parking == '0'>不清楚</#if><#if store.parking == '1'>免费停车</#if><#if store.parking == '2'>付费停车</#if></div></li>
                <li><div class="info_title">包厢信息：</div><div class="info_show"><#if store.box == '0'>不清楚</#if><#if store.box == '1'>有包厢</#if><#if store.box == '2'>无包厢</#if></div></li>
                <li><div class="info_title">外卖信息：</div><div class="info_show"><#if store.takeaway == '0'>不清楚</#if><#if store.takeaway == '1'>有外卖</#if><#if store.takeaway == '2'>无外卖</#if></div></li>
                <li><div class="info_title">刷卡信息：</div><div class="info_show"><#if store.payCard == '0'>不清楚</#if><#if store.payCard == '1'>可刷卡</#if><#if store.payCard == '2'>不能刷卡</#if></div></li>
                <li><div class="info_title">标<span style="width:28px; display:inline-block;"></span>签：</div><div class="info_show">${store.tags!'无'}</div></li>
                <li><div class="info_title">网<span style="width:28px; display:inline-block;"></span>址：</div><div class="info_show"><#if (store.website!"") == ""><#if (store.customDomain!'') != "">http://${store.customDomain}<#elseif (store.subdomain!"") == "">http://${SiteConfig.siteDomain}/s/${store.id}<#else>http://${store.subdomain}.${SiteConfig.siteDomain}</#if><#else>${store.website}</#if> &nbsp;</div></li>
                <li><div class="info_title">店铺介绍：</div><div class="info_show">${store.introduction!''}</div></li>
            </ul>
        </div>
        <div class="store_more_info_close" onclick="$('.store_more_info').hide(200);"></div>
    </div>
</div>
<div class="store_center_menu"><a href="http://${SiteConfig.siteDomain}/manage/center/store/myStore">我的店铺</a><a href="http://${SiteConfig.siteDomain}/manage/center/store/register.html">登记店铺</a><a href="http://${SiteConfig.siteDomain}/manage/center/store/claim.html">认领店铺</a></div>
<script language="javascript">
	$(".store_center_menu_handler").popmenu({menuSelector:".store_center_menu",event:"mouseover"});
</script>
<script language="javascript">
	$(".stroe_more_info_handler").click(function(){
									if($('.store_more_info').is(":visible")){
										$('.store_more_info').hide();
									}else{
										$('.store_more_info').show();
									}
								});
</script>